In [45]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [46]:
naics_path = "../../Resources/employment_by_NAICS.csv"
naics_df = pd.read_csv(naics_path, encoding="ISO-8859-1")

display(naics_df)

C:\Users\tyler\AppData\Local\Temp\ipykernel_1776\3692578516.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  naics_df = pd.read_csv(naics_path, encoding="ISO-8859-1")

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"""00000""",United States,,CAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,165522200,165095100,...,182328100,186239800,190325800,193425900,196394100,200292200,201635200,195286600,202752100,212442000
1,"""00000""",United States,,CAEMP25N,20.0,...,Wage and salary employment,Number of jobs,137334000,136301000,...,141932000,144722000,147641000,149960000,151949000,154362000,156540000,147227000,151768000,158015000
2,"""00000""",United States,,CAEMP25N,40.0,...,Proprietors employment,Number of jobs,28188200,28794100,...,40396100,41517800,42684800,43465900,44445100,45930200,45095200,48059600,50984100,54427000
3,"""00000""",United States,,CAEMP25N,50.0,...,Farm proprietors employment,Number of jobs,2190000,2032000,...,1859000,1846000,1834000,1824000,1803000,1803000,1772000,1768000,1762000,1754000
4,"""00000""",United States,,CAEMP25N,60.0,...,Nonfarm proprietors employment 2/,Number of jobs,25998200,26762100,...,38537100,39671800,40850800,41641900,42642100,44127200,43323200,46291600,49222100,52673000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104873,"""98000""",Far West,8.0,CAEMP25N,2012.0,...,Local government,Number of jobs,2279569,2341319,...,2294438,2333865,2389887,2472269,2513430,2540718,2561134,2418196,2411063,2493136
104874,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104875,CAEMP25N: Total full-time and part-time employ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104876,"Last updated: November 16, 2023-- new statisti...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104877,U.S. Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
naics_df = naics_df[["GeoName", "Description", "Unit", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"]]
cleaned_naics_df = naics_df.rename(columns={"GeoName" : "Location"})
cleaned_naics_df

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,United States,Total employment (number of jobs),Number of jobs,178979700,182328100,186239800,190325800,193425900,196394100,200292200,201635200,195286600,202752100,212442000
1,United States,Wage and salary employment,Number of jobs,139619000,141932000,144722000,147641000,149960000,151949000,154362000,156540000,147227000,151768000,158015000
2,United States,Proprietors employment,Number of jobs,39360700,40396100,41517800,42684800,43465900,44445100,45930200,45095200,48059600,50984100,54427000
3,United States,Farm proprietors employment,Number of jobs,1844000,1859000,1846000,1834000,1824000,1803000,1803000,1772000,1768000,1762000,1754000
4,United States,Nonfarm proprietors employment 2/,Number of jobs,37516700,38537100,39671800,40850800,41641900,42642100,44127200,43323200,46291600,49222100,52673000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104873,Far West,Local government,Number of jobs,2282362,2294438,2333865,2389887,2472269,2513430,2540718,2561134,2418196,2411063,2493136
104874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
employment_df = cleaned_naics_df.loc[cleaned_naics_df["Unit"] == "Number of jobs"]
display(employment_df)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,United States,Total employment (number of jobs),Number of jobs,178979700,182328100,186239800,190325800,193425900,196394100,200292200,201635200,195286600,202752100,212442000
1,United States,Wage and salary employment,Number of jobs,139619000,141932000,144722000,147641000,149960000,151949000,154362000,156540000,147227000,151768000,158015000
2,United States,Proprietors employment,Number of jobs,39360700,40396100,41517800,42684800,43465900,44445100,45930200,45095200,48059600,50984100,54427000
3,United States,Farm proprietors employment,Number of jobs,1844000,1859000,1846000,1834000,1824000,1803000,1803000,1772000,1768000,1762000,1754000
4,United States,Nonfarm proprietors employment 2/,Number of jobs,37516700,38537100,39671800,40850800,41641900,42642100,44127200,43323200,46291600,49222100,52673000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104869,Far West,Federal civilian,Number of jobs,422511,413913,408306,412759,418622,419819,417591,421988,439930,428504,422335
104870,Far West,Military,Number of jobs,414362,409727,397837,394073,410166,406683,372699,369323,374197,380674,371033
104871,Far West,State and local,Number of jobs,3112340,3128753,3186736,3257941,3325052,3376606,3416509,3453580,3299430,3289266,3382953
104872,Far West,State government,Number of jobs,829978,834315,852871,868054,852783,863176,875791,892446,881234,878203,889817
104873,Far West,Local government,Number of jobs,2282362,2294438,2333865,2389887,2472269,2513430,2540718,2561134,2418196,2411063,2493136

In [49]:
desired_states = ["Alabama", "Alaska", "Arizona", "Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

employment_by_state = employment_df.loc[employment_df["Location"].isin(desired_states)]
employment_by_state = employment_by_state.reset_index(drop = True)
employment_by_state["Description"] = employment_by_state["Description"].str.strip()


employment_by_state.head(33)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,Total employment (number of jobs),Number of jobs,2503656,2523020,2552256,2587641,2619761,2649222,2692424,2712086,2671005,2769464,2869931
1,Alabama,Wage and salary employment,Number of jobs,1963894,1979322,1996343,2025359,2050129,2073260,2098780,2126752,2044118,2095377,2154012
2,Alabama,Proprietors employment,Number of jobs,539762,543698,555913,562282,569632,575962,593644,585334,626887,674087,715919
3,Alabama,Farm proprietors employment,Number of jobs,38191,38337,37840,37080,37280,36186,35741,34553,34558,34134,33784
4,Alabama,Nonfarm proprietors employment 2/,Number of jobs,501571,505361,518073,525202,532352,539776,557903,550781,592329,639953,682135
5,Alabama,Farm employment,Number of jobs,45540,46050,43295,44705,44493,44757,42992,40417,40984,40504,41204
6,Alabama,Nonfarm employment,Number of jobs,2458116,2476970,2508961,2542936,2575268,2604465,2649432,2671669,2630021,2728960,2828727
7,Alabama,Private nonfarm employment,Number of jobs,2054942,2076411,2108827,2143826,2173332,2200089,2242813,2261509,2223294,2323938,2420981
8,Alabama,"Forestry, fishing, and related activities",Number of jobs,15780,16022,16540,16149,16109,15636,15928,16318,15976,15671,15615
9,Alabama,"Mining, quarrying, and oil and gas extraction",Number of jobs,14008,13627,13043,12995,11458,10432,9642,9173,8740,8425,8825
10,Alabama,Utilities,Number of jobs,14573,14701,14677,14961,14962,14140,14256,13756,13509,13528,13475
11,Alabama,Construction,Number of jobs,136841,135665,135626,136107,141702,142525,148034,152455,157497,158261,165585
12,Alabama,Manufacturing,Number of jobs,252450,258942,262463,267889,271213,274121,277619,279259,269251,274979,284309
13,Alabama,Wholesale trade,Number of jobs,80219,81027,85169,86430,81722,81359,82306,82080,80839,82820,87542
14,Alabama,Retail trade,Number of jobs,272757,274848,278965,283529,284245,284087,283157,280854,279556,288660,296118
15,Alabama,Transportation and warehousing,Number of jobs,73619,75203,76480,78804,78968,81250,85397,91222,98413,118384,125376
16,Alabama,Information,Number of jobs,28238,28488,28184,27397,27089,27490,27681,27342,25563,27780,30080
17,Alabama,Finance and insurance,Number of jobs,107620,109215,108231,108755,111819,113071,115895,112797,120354,126198,135312
18,Alabama,Real estate and rental and leasing,Number of jobs,95275,95850,98872,100183,103438,106858,110748,106010,118457,131522,145517
19,Alabama,"Professional, scientific, and technical services",Number of jobs,137340,138561,139989,142957,145458,149877,155362,156803,158952,167538,175579
20,Alabama,Management of companies and enterprises,Number of jobs,18388,17560,17170,17441,19765,18667,19132,19451,19552,19657,20866
21,Alabama,Administrative and support and waste managemen...,Number of jobs,165514,165864,170840,171816,176020,181809,185116,190463,180250,190819,194542
22,Alabama,Educational services,Number of jobs,38246,40085,40875,41170,41722,42384,41441,42726,37462,38301,40314
23,Alabama,Health care and social assistance,Number of jobs,232108,234035,235770,241949,246295,249919,253443,259469,251815,256484,262878
24,Alabama,"Arts, entertainment, and recreation",Number of jobs,33827,34025,35245,34713,37836,39421,41816,41818,37616,40376,41767
25,Alabama,Accommodation and food services,Number of jobs,170136,175352,180644,186439,192742,198233,200730,203534,179356,188877,196421
26,Alabama,Other services (except government and governme...,Number of jobs,168003,167341,170044,174142,170769,168810,175110,175979,170136,175658,180860
27,Alabama,Government and government enterprises,Number of jobs,403174,400559,400134,399110,401936,404376,406619,410160,406727,405022,407746
28,Alabama,Federal civilian,Number of jobs,56123,54690,53566,53087,53386,53219,53073,54127,55961,55611,55291
29,Alabama,Military,Number of jobs,31064,30557,30065,29914,29628,28908,28837,28691,28575,28494,27665
30,Alabama,State and local,Number of jobs,315987,315312,316503,316109,318922,322249,324709,327342,322191,320917,324790
31,Alabama,State government,Number of jobs,103438,102479,103325,103534,105488,107509,108876,110601,111427,109036,109051
32,Alabama,Local government,Number of jobs,212549,212833,213178,212575,213434,214740,215833,216741,210764,211881,215739

In [50]:
employment_by_state["Description"].unique()

array(['Total employment (number of jobs)', 'Wage and salary employment',
       'Proprietors employment', 'Farm proprietors employment',
       'Nonfarm proprietors employment 2/', 'Farm employment',
       'Nonfarm employment', 'Private nonfarm employment',
       'Forestry, fishing, and related activities',
       'Mining, quarrying, and oil and gas extraction', 'Utilities',
       'Construction', 'Manufacturing', 'Wholesale trade', 'Retail trade',
       'Transportation and warehousing', 'Information',
       'Finance and insurance', 'Real estate and rental and leasing',
       'Professional, scientific, and technical services',
       'Management of companies and enterprises',
       'Administrative and support and waste management and remediation services',
       'Educational services', 'Health care and social assistance',
       'Arts, entertainment, and recreation',
       'Accommodation and food services',
       'Other services (except government and government enterprises)',
       'Government and government enterprises', 'Federal civilian',
       'Military', 'State and local', 'State government',
       'Local government'], dtype=object)

Government Jobs

In [69]:
government_jobs = employment_by_state.loc[employment_by_state["Description"].isin(["Local government", "State government", "State and local", "Military", "Federal civilian", "Government and government enterprises"])]

government_jobs.tail(20)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1549,Washington,State government,Number of jobs,145424,145654,146834,147179,148484,150569,152453,153735,156155,150474,148497
1550,Washington,Local government,Number of jobs,319944,321399,326469,332936,341404,350128,357237,362155,340312,342949,356165
1578,West Virginia,Government and government enterprises,Number of jobs,162510,158354,156895,156122,156744,154673,153238,153390,149435,150176,151671
1579,West Virginia,Federal civilian,Number of jobs,23323,23398,23422,23300,23605,23854,23587,24112,25489,25316,25301
1580,West Virginia,Military,Number of jobs,9605,9419,9260,9125,8991,8636,8791,8682,8214,8053,7975
1581,West Virginia,State and local,Number of jobs,129582,125537,124213,123697,124148,122183,120860,120596,115732,116807,118395
1582,West Virginia,State government,Number of jobs,52375,52221,51960,51513,51959,51228,51048,50741,50395,50049,49550
1583,West Virginia,Local government,Number of jobs,77207,73316,72253,72184,72189,70955,69812,69855,65337,66758,68845
1611,Wisconsin,Government and government enterprises,Number of jobs,433914,434231,436287,434502,439248,435781,436854,436821,420576,420224,423767
1612,Wisconsin,Federal civilian,Number of jobs,29111,28731,28731,28886,29104,29105,29176,29384,30858,30024,29573
1613,Wisconsin,Military,Number of jobs,16739,16491,16269,16239,16080,15888,15822,15738,15910,15415,14657
1614,Wisconsin,State and local,Number of jobs,388064,389009,391287,389377,394064,390788,391856,391699,373808,374785,379537
1615,Wisconsin,State government,Number of jobs,109542,112414,113771,113535,114554,114973,113987,116403,114390,113077,112554
1616,Wisconsin,Local government,Number of jobs,278522,276595,277516,275842,279510,275815,277869,275296,259418,261708,266983
1644,Wyoming,Government and government enterprises,Number of jobs,75691,75773,75359,75850,76123,74908,74109,74866,73951,73468,73224
1645,Wyoming,Federal civilian,Number of jobs,7549,7431,7360,7368,7528,7548,7541,7578,7806,7678,7586
1646,Wyoming,Military,Number of jobs,6160,6233,6030,6012,5892,6048,6120,6221,6383,6357,6264
1647,Wyoming,State and local,Number of jobs,61982,62109,61969,62470,62703,61312,60448,61067,59762,59433,59374
1648,Wyoming,State government,Number of jobs,16006,15958,15713,15856,15675,15383,15245,14754,15075,14542,14279
1649,Wyoming,Local government,Number of jobs,45976,46151,46256,46614,47028,45929,45203,46313,44687,44891,45095

In [67]:
desired_years = "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"

for year in desired_years:
    government_jobs[year] = pd.to_numeric(government_jobs[year], errors='coerce')

desired_states = ["Alabama", "Alaska", "Arizona", "Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

all_government_jobs = []

for state in desired_states:
        find_government_job = government_jobs.loc[government_jobs["Location"] == state, desired_years].sum()
        all_government_jobs.append(find_government_job)

all_government_jobs = pd.DataFrame(all_government_jobs)
all_government_jobs["State"] = desired_states

column_to_move = "State"
moved_column = all_government_jobs.pop(column_to_move)
all_government_jobs.insert(0,column_to_move, moved_column)
display(all_government_jobs)

C:\Users\tyler\AppData\Local\Temp\ipykernel_1776\3334225287.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  government_jobs[year] = pd.to_numeric(government_jobs[year], errors='coerce')

,State,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,1122335,1116430,1116771,1114329,1122794,1131001,1137947,1147662,1135645,1130961,1140282
1,Alaska,282464,278205,273692,273350,270215,268571,267506,266705,260629,262955,264532
2,Arizona,1239688,1244339,1247354,1245040,1245857,1259178,1265179,1288969,1261762,1236976,1247097
3,Arkansas,667858,662609,659011,656490,650881,644877,644015,640139,629943,622463,626512
4,California,7307551,7343061,7468839,7633479,7823158,7922819,7961162,8043991,7745778,7709001,7896587
5,Colorado,1261855,1288412,1305140,1326295,1349898,1374539,1395493,1429486,1411979,1417689,1443837
6,Connecticut,752929,753086,752093,749444,745038,735136,723369,718995,681947,681056,689896
7,Delaware,206755,207740,208052,205644,207183,206835,208058,211045,208343,213187,214800
8,Florida,3266093,3259676,3247306,3267959,3318723,3361551,3367362,3402516,3350810,3332324,3330991
9,Georgia,2130289,2111714,2099423,2106267,2123632,2141072,2150733,2165747,2129200,2098357,2107531
10,Hawaii,456762,456968,458429,465142,464439,461016,449813,444743,428796,431532,432214
11,Idaho,357353,358103,360952,366457,372722,378891,384202,389138,378374,379552,382915
12,Illinois,2518322,2507474,2503556,2506540,2507376,2506655,2485507,2498197,2377041,2372534,2399303
13,Indiana,1281341,1270546,1272415,1273069,1278707,1281006,1293292,1294997,1250873,1234719,1235199
14,Iowa,771889,771562,774193,774643,777242,783400,782991,791299,762661,770511,779652
15,Kansas,830240,831341,830172,827057,816307,827554,834904,846161,819673,819412,819561
16,Kentucky,1019480,1010771,1000249,988018,979244,977790,984210,978328,944326,934259,943685
17,Louisiana,1092308,1063950,1032808,1021959,1014020,1005047,1008390,1017013,987975,973065,964547
18,Maine,302626,299664,299015,296907,299954,299126,298498,299762,291511,290639,294388
19,Maryland,1482878,1481874,1479772,1477203,1481040,1486166,1495940,1492339,1460538,1464868,1498158
20,Massachusetts,1291759,1300742,1318775,1315901,1325748,1323694,1332260,1336701,1293929,1294173,1324126
21,Michigan,1786621,1761751,1749574,1744164,1759570,1763632,1774617,1784165,1697350,1685615,1722635
22,Minnesota,1196456,1199434,1205129,1211327,1214186,1227588,1230561,1241758,1182209,1184965,1193782
23,Mississippi,782240,775643,774307,769641,770523,769327,761252,763976,747278,736780,729229
24,Missouri,1333871,1332431,1326576,1319894,1319013,1323607,1322273,1326503,1283991,1265407,1259272
25,Montana,263602,263957,265029,265488,267300,267269,265074,268542,264408,268414,268663
26,Nebraska,490660,490637,492926,494984,497694,497280,497707,498957,486438,490225,490870
27,Nevada,459447,463012,462824,469402,478208,494098,496326,505035,490999,493056,503852
28,New Hampshire,272743,272017,273277,272399,270718,270040,270348,270793,258234,256378,256278
29,New Jersey,1777784,1780986,1777267,1765474,1757293,1760302,1762955,1772254,1690527,1685986,1714962
30,New Mexico,585936,583830,581720,580038,578929,571763,572027,576498,557104,542944,552059
31,New York,4226219,4199131,4188932,4187194,4207494,4216313,4338189,4360332,4212650,4157161,4155433
32,North Carolina,2374199,2371981,2355502,2356521,2359298,2369973,2372227,2392776,2350528,2302543,2302269
33,North Dakota,235491,237271,236965,242255,245944,244413,244087,245874,241141,243474,245277
34,Ohio,2283439,2273262,2272206,2275864,2295813,2308057,2308847,2318212,2236487,2219342,2237935
35,Oklahoma,1019620,1029019,1028099,1034174,1032265,1027162,1021200,1042069,1018599,1009554,1018367
36,Oregon,797924,786762,793591,808337,821156,830335,838948,849300,817871,816831,837916
37,Pennsylvania,2226346,2234150,2213515,2194054,2189239,2188943,2175081,2184586,2135434,2099285,2099178
38,Rhode Island,196717,197454,198068,198542,201092,200392,201546,207706,201052,199815,202655
39,South Carolina,1099428,1110454,1116349,1131799,1134644,1141445,1137753,1159582,1136904,1126184,1127238
40,South Dakota,232209,232793,233911,233389,235555,238959,239499,241120,236032,238891,241046
41,Tennessee,1275824,1271280,1265195,1256358,1264697,1272381,1284937,1296797,1278678,1266625,1280154
42,Texas,5526396,5550256,5589133,5664842,5759496,5819434,5839570,5908391,5865710,5879690,5953814
43,Utah,672023,672038,677135,682025,698395,717559,730334,747347,742495,754702,765596
44,Vermont,162145,162454,163751,163229,163406,162178,161891,162003,153982,153198,154398
45,Virginia,2280763,2274666,2276896,2284127,2322624,2324243,2294121,2308357,2236641,2247995,2261140
46,Washington,1706618,1705531,1715119,1737777,1775556,1805983,1816352,1833588,1782471,1772779,1800494
47,West Virginia,454602,442245,438003,435941,437636,431529,427336,427376,414602,417159,421737
48,Wisconsin,1255892,1257471,1263861,1258381,1272560,1262350,1265564,1265341,1214960,1215233,1227071
49,Wyoming,213364,213655,212687,214170,214949,211128,208666,210799,207664,206369,205822

Service Jobs

In [52]:
service_jobs = employment_by_state.loc[employment_by_state["Description"].isin(["Other services (except government and government enterprises)", "Accommodation and food services"])]

display(service_jobs)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
25,Alabama,Accommodation and food services,Number of jobs,170136,175352,180644,186439,192742,198233,200730,203534,179356,188877,196421
26,Alabama,Other services (except government and governme...,Number of jobs,168003,167341,170044,174142,170769,168810,175110,175979,170136,175658,180860
58,Alaska,Accommodation and food services,Number of jobs,32858,33159,34103,34956,35343,35503,35806,36771,28850,31785,34711
59,Alaska,Other services (except government and governme...,Number of jobs,20394,20542,20800,20788,20731,20727,21038,20804,19684,20110,20911
91,Arizona,Accommodation and food services,Number of jobs,247437,256307,265916,277456,287780,298126,303693,308389,266680,291411,317706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1577,West Virginia,Other services (except government and governme...,Number of jobs,48154,47939,48322,47804,46802,45843,46756,45814,43144,44464,46059
1609,Wisconsin,Accommodation and food services,Number of jobs,240655,245076,248304,253796,256934,261704,261677,263516,218332,234825,249004
1610,Wisconsin,Other services (except government and governme...,Number of jobs,186175,185975,188391,191099,189153,187648,192576,192644,180239,183848,188388
1642,Wyoming,Accommodation and food services,Number of jobs,33447,34078,34976,35606,35210,35578,35661,36361,31992,35207,36520
1643,Wyoming,Other services (except government and governme...,Number of jobs,18412,18465,18157,18189,17816,17763,18369,18229,17503,18110,18596

In [61]:
desired_years = "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"

for year in desired_years:
    service_jobs[year] = pd.to_numeric(service_jobs[year], errors='coerce')

desired_states = ["Alabama", "Alaska", "Arizona", "Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

all_service_jobs = []

for state in desired_states:
        find_service_job = service_jobs.loc[service_jobs["Location"] == state, desired_years].sum()
        all_service_jobs.append(find_service_job)

all_service_jobs = pd.DataFrame(all_service_jobs)
all_service_jobs["State"] = desired_states

column_to_move = "State"
moved_column = all_service_jobs.pop(column_to_move)
all_service_jobs.insert(0,column_to_move, moved_column)
display(all_service_jobs)

C:\Users\tyler\AppData\Local\Temp\ipykernel_1776\2105751100.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  service_jobs[year] = pd.to_numeric(service_jobs[year], errors='coerce')

,State,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,338139,342693,350688,360581,363511,367043,375840,379513,349492,364535,377281
1,Alaska,53252,53701,54903,55744,56074,56230,56844,57575,48534,51895,55622
2,Arizona,421148,432819,449207,467926,478327,489331,507100,513764,463452,497244,532448
3,Arkansas,190050,190967,195899,200918,203448,204607,209153,211710,197625,208822,217288
4,California,2734670,2841468,2992336,3099770,3143636,3190852,3294653,3329206,2761681,2899940,3198480
5,Colorado,421499,435002,453544,472106,483211,495469,510358,517714,449122,483417,517275
6,Connecticut,243885,249259,256061,259721,260065,260462,265692,264039,221274,236641,252558
7,Delaware,64315,64077,65786,67968,69234,70047,73297,74430,63838,69077,73504
8,Florida,1550806,1608522,1685799,1768204,1805479,1843090,1922956,1959787,1754869,1890512,2005452
9,Georgia,726967,749809,781460,815199,829627,846026,876598,896858,819246,872773,916798
10,Hawaii,146098,150385,154456,157751,161980,166973,168637,170782,121465,138481,155494
11,Idaho,99862,102482,106745,111257,115287,118879,124469,128809,121578,130972,137203
12,Illinois,933748,947381,970355,996683,1000539,1006016,1019058,1020219,861845,917420,984640
13,Indiana,471913,478781,488444,499815,504013,505515,514012,516376,467144,491626,517697
14,Iowa,226580,230725,234949,239736,238379,236670,239241,238739,213174,221912,230847
15,Kansas,207551,209573,213575,216543,216983,217752,220552,221355,200845,209312,218514
16,Kentucky,292531,296713,302581,308152,313275,315996,320814,323780,287518,302794,319839
17,Louisiana,354681,362516,375462,388261,389087,388762,398852,401996,353711,376466,391801
18,Maine,96594,98484,100606,102140,103602,105259,107614,107155,89456,98473,104194
19,Maryland,426440,437113,449174,459404,461238,469196,478840,481100,409571,429104,451445
20,Massachusetts,504784,519190,535841,557219,563733,570980,584426,586363,462037,496805,546360
21,Michigan,674870,687106,703822,716559,722267,730014,743071,745872,634168,668799,721085
22,Minnesota,407736,412768,422088,429165,432710,434683,439875,441111,369055,392728,418730
23,Mississippi,208726,211523,217813,223334,225868,230811,234410,236977,218217,231079,239489
24,Missouri,450600,456267,463972,476365,481125,485258,491832,492554,441778,463286,487296
25,Montana,84548,86659,88037,91131,93022,94066,96226,96866,89650,96558,102190
26,Nebraska,143585,145305,146762,149407,150616,151358,153497,154581,141199,147673,153967
27,Nevada,370714,381606,395032,404398,409296,415123,422113,425914,331815,373055,413746
28,New Hampshire,99134,101452,104039,106158,107184,108319,110516,111120,95413,102506,108470
29,New Jersey,587010,598368,611691,619739,626560,631419,654396,662969,550169,594164,647383
30,New Mexico,137643,139747,143533,146029,147881,148499,151417,152518,131356,138039,147469
31,New York,1380322,1416464,1471171,1512547,1515502,1535765,1561940,1565677,1227058,1307555,1445224
32,North Carolina,686550,704563,729915,753723,770122,784449,806542,822605,737773,777717,823278
33,North Dakota,62348,63966,66354,66527,64765,64673,64691,64521,58291,60328,62601
34,Ohio,819592,831644,847719,863487,871867,880448,896747,900394,801033,841809,881048
35,Oklahoma,267639,271920,278914,285906,287652,291381,299244,300708,280867,291273,301936
36,Oregon,278361,285490,297508,309500,318303,324206,333639,336406,285659,296813,319752
37,Pennsylvania,869920,883036,900456,914054,921426,927523,943214,945128,790427,846307,909881
38,Rhode Island,78514,79751,82187,84361,85224,85732,88187,90210,73944,80863,87350
39,South Carolina,355355,363436,374797,389190,397510,404908,422399,430277,392058,413849,437284
40,South Dakota,70911,71544,72896,73911,74642,74528,75358,75702,69639,74035,77345
41,Tennessee,498582,508966,523803,539221,551390,563984,581887,590041,539337,570591,603579
42,Texas,1944069,2014351,2100829,2183380,2232297,2286748,2377957,2439869,2228348,2375638,2515970
43,Utah,194535,200702,211454,218282,224266,230226,239453,244619,227786,241560,256685
44,Vermont,53863,54794,56155,57845,57709,58192,58624,58446,46478,50161,53993
45,Virginia,619259,628314,644462,664252,676674,685359,701050,706333,614295,643369,679391
46,Washington,454387,466574,484043,502498,516941,527275,545335,552089,464150,476127,518944
47,West Virginia,118716,118873,119056,118844,117406,116813,117370,116960,102437,108270,111960
48,Wisconsin,426830,431051,436695,444895,446087,449352,454253,456160,398571,418673,437392
49,Wyoming,51859,52543,53133,53795,53026,53341,54030,54590,49495,53317,55116

Health Care Jobs

In [ ]:
healthcare_jobs = employment_by_state.loc[employment_by_state["Description"] == "Health care and social assistance"]

display(healthcare_jobs)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
23,Alabama,Health care and social assistance,Number of jobs,232108,234035,235770,241949,246295,249919,253443,259469,251815,256484,262878
56,Alaska,Health care and social assistance,Number of jobs,49747,50303,49612,50234,51616,52375,52933,53441,52253,53382,52932
89,Arizona,Health care and social assistance,Number of jobs,358800,366085,373192,389563,404164,418265,433465,450600,451050,462646,476659
122,Arkansas,Health care and social assistance,Number of jobs,178827,178960,179462,182661,188147,193392,196453,198808,192866,193682,197663
155,California,Health care and social assistance,Number of jobs,2216337,2354032,2416608,2506385,2575663,2650916,2719160,2798036,2752104,2827288,2942827
188,Colorado,Health care and social assistance,Number of jobs,295429,299090,309569,325373,336451,343496,350372,356912,352160,363216,367415
221,Connecticut,Health care and social assistance,Number of jobs,292497,296630,299253,302854,305638,307007,308633,310964,304579,310196,315047
254,Delaware,Health care and social assistance,Number of jobs,65708,67712,69810,72810,74491,75610,77421,79046,77327,77694,78600
287,Florida,Health care and social assistance,Number of jobs,1154484,1174010,1203733,1254145,1287883,1323390,1357346,1394925,1389995,1433147,1483472
320,Georgia,Health care and social assistance,Number of jobs,502623,515598,524703,542196,555726,564641,579814,598590,584063,607281,630643
353,Hawaii,Health care and social assistance,Number of jobs,74019,76515,77380,80068,81194,82660,83963,85560,83232,85127,85954
386,Idaho,Health care and social assistance,Number of jobs,91616,94435,96877,100162,102373,103572,107337,112240,113881,117807,120991
419,Illinois,Health care and social assistance,Number of jobs,846689,853838,861954,878324,879633,880048,885925,892561,861009,875365,894209
452,Indiana,Health care and social assistance,Number of jobs,406822,413235,413238,422353,434457,444051,450108,458551,448196,453278,459819
485,Iowa,Health care and social assistance,Number of jobs,212959,214849,215347,217158,219000,219088,218820,218802,211408,210755,210890
518,Kansas,Health care and social assistance,Number of jobs,192986,193682,194628,199718,201823,201913,204010,206638,204905,204840,208635
551,Kentucky,Health care and social assistance,Number of jobs,257305,257218,255117,261050,265908,270415,275671,280855,273644,283292,290694
584,Louisiana,Health care and social assistance,Number of jobs,285203,290727,298625,305574,312175,316541,318299,323330,313448,322334,329370
617,Maine,Health care and social assistance,Number of jobs,113745,113849,113663,115423,116222,117742,117678,119208,116055,117154,116644
650,Maryland,Health care and social assistance,Number of jobs,412600,418575,421422,431644,435450,442424,450142,455681,434175,438088,442319
683,Massachusetts,Health care and social assistance,Number of jobs,617653,632161,648116,674239,691318,699132,700512,711597,675562,694429,702675
716,Michigan,Health care and social assistance,Number of jobs,651741,651858,651829,662697,673860,680721,685171,687678,653306,662350,670851
749,Minnesota,Health care and social assistance,Number of jobs,454230,465049,471690,480464,492910,502691,513311,517479,504563,512165,512066
782,Mississippi,Health care and social assistance,Number of jobs,149451,150067,151104,154440,155771,159813,161647,165430,156663,158635,162734
815,Missouri,Health care and social assistance,Number of jobs,416193,422902,422513,433328,441200,450325,454684,462107,450979,452428,454774
848,Montana,Health care and social assistance,Number of jobs,70149,71270,71597,73011,75194,76927,77344,78503,78007,79799,80504
881,Nebraska,Health care and social assistance,Number of jobs,139448,139904,140253,140973,143632,144684,145795,146837,143176,145638,146290
914,Nevada,Health care and social assistance,Number of jobs,115582,118871,123391,129044,135531,141488,148639,155011,154925,163921,170804
947,New Hampshire,Health care and social assistance,Number of jobs,95644,96332,96867,99017,100754,101911,103368,104791,100646,102999,104147
980,New Jersey,Health care and social assistance,Number of jobs,593939,608803,617945,632887,641902,651860,664635,678195,637570,660650,690660
1013,New Mexico,Health care and social assistance,Number of jobs,123226,123735,124796,129723,134263,134793,135926,136920,134837,137348,139389
1046,New York,Health care and social assistance,Number of jobs,1569064,1589064,1614007,1643413,1683798,1716133,1773586,1837692,1753171,1784150,1845408
1079,North Carolina,Health care and social assistance,Number of jobs,527116,536076,540664,550604,559946,571533,584086,596396,580997,602890,613981
1112,North Dakota,Health care and social assistance,Number of jobs,61755,62932,63228,64467,66041,66543,66849,70406,69113,69364,69472
1145,Ohio,Health care and social assistance,Number of jobs,853536,862969,866939,881812,893288,897083,904575,912971,880764,885328,890100
1178,Oklahoma,Health care and social assistance,Number of jobs,211537,212833,212381,216505,218889,220128,220158,223341,220471,222538,229223
1211,Oregon,Health care and social assistance,Number of jobs,256987,260929,267614,279022,287513,293196,298121,304646,306907,309928,312843
1244,Pennsylvania,Health care and social assistance,Number of jobs,1021363,1027629,1042101,1056758,1079116,1099559,1129430,1150419,1111582,1110620,1131457
1277,Rhode Island,Health care and social assistance,Number of jobs,87386,89289,88939,89327,89043,88837,89058,90420,84490,86208,88020
1310,South Carolina,Health care and social assistance,Number of jobs,205989,209200,214628,223047,228895,234487,242444,246120,240532,248585,256121
1343,South Dakota,Health care and social assistance,Number of jobs,66485,67095,66949,67707,69134,70278,71637,72584,73044,74127,74940
1376,Tennessee,Health care and social assistance,Number of jobs,396897,400349,403544,414840,420871,426648,430478,435857,432511,438929,449740
1409,Texas,Health care and social assistance,Number of jobs,1463818,1493590,1523767,1581860,1626569,1669010,1704715,1746315,1716165,1765815,1821014
1442,Utah,Health care and social assistance,Number of jobs,142921,148377,150517,157190,163525,168358,173011,178369,179370,186941,193936
1475,Vermont,Health care and social assistance,Number of jobs,56191,56732,56957,57888,58580,59572,60014,59936,57045,57453,57369
1508,Virginia,Health care and social assistance,Number of jobs,452028,460902,466697,482165,493172,500096,509907,522976,506816,515782,530153
1541,Washington,Health care and social assistance,Number of jobs,431586,444284,452991,451082,462630,471652,485038,496464,491901,503054,511226
1574,West Virginia,Health care and social assistance,Number of jobs,123750,124308,123964,124676,125039,125705,126224,126689,126530,127423,128835
1607,Wisconsin,Health care and social assistance,Number of jobs,403664,408442,412502,418180,425764,429958,434946,440001,430043,434122,435496
1640,Wyoming,Health care and social assistance,Number of jobs,29068,29286,28989,29226,29853,30043,30636,30854,30508,30746,30888

Education Jobs

In [ ]:
education_jobs = employment_by_state.loc[employment_by_state["Description"] == "Educational services"]

display(education_jobs)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
22,Alabama,Educational services,Number of jobs,38246,40085,40875,41170,41722,42384,41441,42726,37462,38301,40314
55,Alaska,Educational services,Number of jobs,5460,5774,6029,6049,5916,6009,5806,5876,4922,5336,5721
88,Arizona,Educational services,Number of jobs,72044,72170,75602,79116,79327,81385,81113,86778,80763,86762,92109
121,Arkansas,Educational services,Number of jobs,20804,21668,22595,22603,22618,23078,23612,24446,21805,22186,23608
154,California,Educational services,Number of jobs,465322,485844,510481,524274,526889,539132,547549,575320,521300,517107,554586
187,Colorado,Educational services,Number of jobs,62203,65725,70115,72714,74303,76783,78044,81326,74910,78334,83722
220,Connecticut,Educational services,Number of jobs,79526,81258,84400,85387,86099,87231,89061,93113,87678,87591,93478
253,Delaware,Educational services,Number of jobs,9056,9484,9881,9793,9760,9996,9757,9847,8721,8678,9169
286,Florida,Educational services,Number of jobs,200223,205751,216655,222678,223749,233446,240113,251070,233934,243631,260535
319,Georgia,Educational services,Number of jobs,109284,113901,119313,121663,123535,127039,128306,135141,123382,131546,141074
352,Hawaii,Educational services,Number of jobs,19760,19971,20016,20059,20250,20637,20793,20801,18154,18681,20474
385,Idaho,Educational services,Number of jobs,15183,15756,16666,17350,17333,18510,20011,22823,22261,24130,26229
418,Illinois,Educational services,Number of jobs,201464,207367,211525,211607,212774,213038,208995,214861,197713,198607,209753
451,Indiana,Educational services,Number of jobs,79581,81751,83382,85304,85649,87537,89383,90131,80390,83052,88246
484,Iowa,Educational services,Number of jobs,46623,47593,47893,48065,49329,47946,45441,45592,41395,41283,42971
517,Kansas,Educational services,Number of jobs,26625,27508,28708,28795,27996,28459,28560,29586,26674,27744,28790
550,Kentucky,Educational services,Number of jobs,39532,40003,41233,41262,40604,40377,39587,41373,36913,38038,39309
583,Louisiana,Educational services,Number of jobs,49404,52627,54614,55528,55674,56684,56478,59516,56860,59448,62217
616,Maine,Educational services,Number of jobs,18730,19411,20044,20513,21019,21936,22233,23470,21942,21199,22776
649,Maryland,Educational services,Number of jobs,94236,95718,100058,101933,103439,106831,110023,113892,104007,103590,109076
682,Massachusetts,Educational services,Number of jobs,218377,226768,231280,243757,242652,245624,252471,259168,245758,240104,253592
715,Michigan,Educational services,Number of jobs,103781,108969,112191,113384,109077,107720,104967,106059,91843,94706,102156
748,Minnesota,Educational services,Number of jobs,86973,89767,91324,93714,93099,94298,92524,93134,83380,85798,90674
781,Mississippi,Educational services,Number of jobs,25413,25813,26066,25799,25250,25230,24367,25365,22308,22669,24174
814,Missouri,Educational services,Number of jobs,79412,80608,81696,82643,82452,85008,87529,92711,88436,89054,95612
847,Montana,Educational services,Number of jobs,8138,8638,9049,9166,8940,9011,9363,9533,9088,9600,10118
880,Nebraska,Educational services,Number of jobs,22814,22936,23297,23917,23719,24218,24208,24615,22934,23698,24777
913,Nevada,Educational services,Number of jobs,14160,14795,16013,16373,16827,17782,18892,21467,20163,22316,23945
946,New Hampshire,Educational services,Number of jobs,26851,27916,28656,30104,30734,31709,32525,33060,31845,30986,32514
979,New Jersey,Educational services,Number of jobs,123920,129533,134020,137034,137892,136814,137826,140595,128865,131869,140611
1012,New Mexico,Educational services,Number of jobs,16152,16426,16709,16960,17017,16808,16609,17231,14933,16284,17553
1045,New York,Educational services,Number of jobs,442619,453675,469449,488632,491721,491641,488840,495148,453750,454575,480451
1078,North Carolina,Educational services,Number of jobs,124015,120771,135290,139700,140766,141916,141833,147510,134357,137845,146389
1111,North Dakota,Educational services,Number of jobs,5754,6148,6181,6395,6497,6458,6385,6556,6240,6645,7184
1144,Ohio,Educational services,Number of jobs,145790,146459,149557,149726,148936,149689,146400,146296,136638,137399,146698
1177,Oklahoma,Educational services,Number of jobs,28204,28963,29881,30240,30482,31375,31691,32189,29512,32120,33360
1210,Oregon,Educational services,Number of jobs,54800,57012,58611,59626,58917,59152,57094,55035,48482,47737,50885
1243,Pennsylvania,Educational services,Number of jobs,277318,283623,290231,294813,300247,306531,310547,316144,299792,293300,308846
1276,Rhode Island,Educational services,Number of jobs,27943,28073,29338,31022,30784,32149,34246,34251,32148,31438,33121
1309,South Carolina,Educational services,Number of jobs,40261,41856,44048,45791,46055,46361,47600,48966,43913,45766,49296
1342,South Dakota,Educational services,Number of jobs,10416,10399,10560,10626,10374,10176,10619,10493,9768,10141,10689
1375,Tennessee,Educational services,Number of jobs,69269,72332,75011,76630,78877,81463,84093,90295,83472,85292,90259
1408,Texas,Educational services,Number of jobs,225377,236183,246961,255283,264841,281440,288287,310657,285610,302979,324841
1441,Utah,Educational services,Number of jobs,51364,53533,55878,58437,61236,66403,69306,73385,72598,73261,77750
1474,Vermont,Educational services,Number of jobs,17119,17439,17986,18626,19288,19380,19122,18548,16891,16556,17805
1507,Virginia,Educational services,Number of jobs,97955,101093,102246,105622,106312,110005,112327,115347,105756,108791,113641
1540,Washington,Educational services,Number of jobs,72030,75046,78239,80282,79861,81725,81713,84238,74718,76120,82243
1573,West Virginia,Educational services,Number of jobs,12405,12545,12668,12618,12983,13239,13265,12929,11414,12152,12919
1606,Wisconsin,Educational services,Number of jobs,67366,69267,70783,71013,69897,70461,69305,71574,66642,67400,70308
1639,Wyoming,Educational services,Number of jobs,3438,3662,3794,3903,4084,4113,4045,4424,3922,4340,4744

Arts and Entertainment Jobs

In [ ]:
art_ent_jobs = employment_by_state.loc[employment_by_state["Description"] == "Arts, entertainment, and recreation"]

display(art_ent_jobs)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
24,Alabama,"Arts, entertainment, and recreation",Number of jobs,33827,34025,35245,34713,37836,39421,41816,41818,37616,40376,41767
57,Alaska,"Arts, entertainment, and recreation",Number of jobs,10537,10562,10571,10113,10649,10944,11025,10750,8746,9344,10251
90,Arizona,"Arts, entertainment, and recreation",Number of jobs,70545,71494,76214,76798,79545,83461,87276,87848,75430,81066,85991
123,Arkansas,"Arts, entertainment, and recreation",Number of jobs,19682,20082,20954,20253,21335,21987,22755,22749,20986,22942,24216
156,California,"Arts, entertainment, and recreation",Number of jobs,572206,586694,618401,627425,639586,656046,677484,671795,528081,552364,617031
189,Colorado,"Arts, entertainment, and recreation",Number of jobs,90489,90963,96034,95734,100705,106693,110409,110498,92955,101511,107437
222,Connecticut,"Arts, entertainment, and recreation",Number of jobs,51372,52281,54133,52863,54604,55825,56799,55825,46267,49821,52697
255,Delaware,"Arts, entertainment, and recreation",Number of jobs,13888,14735,15409,15238,15144,15613,14833,15410,12848,13805,14511
288,Florida,"Arts, entertainment, and recreation",Number of jobs,309596,312809,333193,334313,344166,357981,370810,376346,322233,344836,376976
321,Georgia,"Arts, entertainment, and recreation",Number of jobs,98439,99279,104862,105718,111427,118245,124364,125866,114161,123802,128625
354,Hawaii,"Arts, entertainment, and recreation",Number of jobs,21635,22396,23014,22277,22979,23543,24206,24618,18105,19559,21848
387,Idaho,"Arts, entertainment, and recreation",Number of jobs,18310,18733,19897,18991,20267,21387,23294,23646,22161,24296,24838
420,Illinois,"Arts, entertainment, and recreation",Number of jobs,152704,153145,158898,158841,163819,169883,174205,172952,136443,148829,159490
453,Indiana,"Arts, entertainment, and recreation",Number of jobs,70310,70299,70983,69313,71421,74454,76698,75789,63965,68671,70508
486,Iowa,"Arts, entertainment, and recreation",Number of jobs,35052,33701,34554,33690,36015,36375,37453,37625,31532,33943,35650
519,Kansas,"Arts, entertainment, and recreation",Number of jobs,30726,31066,32142,31153,32370,33209,33830,33067,28275,30710,31937
552,Kentucky,"Arts, entertainment, and recreation",Number of jobs,37346,38062,38781,38551,40242,41795,43073,43445,36977,41023,43132
585,Louisiana,"Arts, entertainment, and recreation",Number of jobs,51351,52852,55144,53018,53691,54264,54640,54852,45892,47116,49549
618,Maine,"Arts, entertainment, and recreation",Number of jobs,19985,20037,20209,20041,20732,21276,22001,21549,18756,20288,21090
651,Maryland,"Arts, entertainment, and recreation",Number of jobs,79878,84122,88163,87784,89389,92455,95016,90445,73488,78871,82875
684,Massachusetts,"Arts, entertainment, and recreation",Number of jobs,105580,108740,113966,121268,124382,127125,131054,128458,99866,109043,117770
717,Michigan,"Arts, entertainment, and recreation",Number of jobs,99720,100633,103471,101904,105468,109676,111571,109530,89331,97995,105136
750,Minnesota,"Arts, entertainment, and recreation",Number of jobs,82090,81911,84790,84974,87271,91709,94379,94194,73827,80609,87031
783,Mississippi,"Arts, entertainment, and recreation",Number of jobs,20647,20986,21412,20757,21337,19988,20382,20626,18907,19926,20234
816,Missouri,"Arts, entertainment, and recreation",Number of jobs,72865,73854,75589,71881,74320,74131,76440,75553,63742,70566,75450
849,Montana,"Arts, entertainment, and recreation",Number of jobs,19033,19516,20172,19827,20568,20645,21513,21502,19897,21620,21602
882,Nebraska,"Arts, entertainment, and recreation",Number of jobs,22758,23308,24003,23882,24526,25480,26015,26049,22015,24425,25512
915,Nevada,"Arts, entertainment, and recreation",Number of jobs,49509,50384,53060,51587,54072,55852,58841,59995,49678,56036,61968
948,New Hampshire,"Arts, entertainment, and recreation",Number of jobs,21319,21446,21483,21651,22297,23128,24011,23783,19922,22181,23547
981,New Jersey,"Arts, entertainment, and recreation",Number of jobs,110750,112481,117962,118009,122527,124722,129135,128227,100362,112526,121058
1014,New Mexico,"Arts, entertainment, and recreation",Number of jobs,23702,23725,24213,24247,24137,25142,25485,25872,21307,22987,24196
1047,New York,"Arts, entertainment, and recreation",Number of jobs,334439,341867,356979,359276,361257,368242,381779,370828,286116,299210,327119
1080,North Carolina,"Arts, entertainment, and recreation",Number of jobs,112271,114584,119422,118436,127472,132748,137011,138016,115923,125975,134387
1113,North Dakota,"Arts, entertainment, and recreation",Number of jobs,7340,7566,7889,7760,8170,8543,9882,9776,8615,9646,10153
1146,Ohio,"Arts, entertainment, and recreation",Number of jobs,127945,133045,138135,136247,139403,143240,148182,147760,123480,136815,144046
1179,Oklahoma,"Arts, entertainment, and recreation",Number of jobs,30959,31058,32181,32186,33970,35052,35942,36698,33871,35500,37030
1212,Oregon,"Arts, entertainment, and recreation",Number of jobs,54422,55008,58336,58560,61009,64387,66748,65763,55514,56344,60435
1245,Pennsylvania,"Arts, entertainment, and recreation",Number of jobs,161294,160731,164993,161900,168190,173202,176647,175831,139015,155065,167526
1278,Rhode Island,"Arts, entertainment, and recreation",Number of jobs,14765,15702,16455,16608,17217,17595,17733,16330,13525,14668,15587
1311,South Carolina,"Arts, entertainment, and recreation",Number of jobs,49108,49835,52047,51563,53918,56119,59160,60634,52229,57024,59880
1344,South Dakota,"Arts, entertainment, and recreation",Number of jobs,11429,11345,11785,11456,11844,12343,12810,12716,11740,12796,13083
1377,Tennessee,"Arts, entertainment, and recreation",Number of jobs,74962,76367,80715,82529,85676,91500,96239,97349,89072,94758,100101
1410,Texas,"Arts, entertainment, and recreation",Number of jobs,242818,249151,262398,261359,274696,292024,306201,311001,272712,295315,310360
1443,Utah,"Arts, entertainment, and recreation",Number of jobs,37356,37806,39773,40508,43541,46247,48042,48643,43368,48489,51311
1476,Vermont,"Arts, entertainment, and recreation",Number of jobs,11212,11239,11679,11453,11769,12052,12416,11944,10623,11166,11512
1509,Virginia,"Arts, entertainment, and recreation",Number of jobs,97118,98159,100529,102107,107216,111231,114296,114117,98903,108333,115195
1542,Washington,"Arts, entertainment, and recreation",Number of jobs,91882,92309,95980,95684,100384,106116,109998,109263,85804,91640,100348
1575,West Virginia,"Arts, entertainment, and recreation",Number of jobs,14327,14428,14763,14039,14256,14562,14849,14872,12990,14656,15105
1608,Wisconsin,"Arts, entertainment, and recreation",Number of jobs,68769,68708,70666,69773,72819,75297,77987,78197,64008,70755,75520
1641,Wyoming,"Arts, entertainment, and recreation",Number of jobs,6866,7007,7290,7105,7536,8046,8148,8069,7677,8391,8566

Management & Misc Office Jobs

In [ ]:
management_jobs = employment_by_state.loc[employment_by_state["Description"].isin(["Administrative and support and waste management and remediation services", "Management of companies and enterprises"])]

display(management_jobs)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
20,Alabama,Management of companies and enterprises,Number of jobs,18388,17560,17170,17441,19765,18667,19132,19451,19552,19657,20866
21,Alabama,Administrative and support and waste managemen...,Number of jobs,165514,165864,170840,171816,176020,181809,185116,190463,180250,190819,194542
53,Alaska,Management of companies and enterprises,Number of jobs,3327,3383,3428,3648,3684,3451,3545,3468,3406,3755,3882
54,Alaska,Administrative and support and waste managemen...,Number of jobs,17221,17523,17355,17056,17155,17106,17141,17296,16112,16304,17048
86,Arizona,Management of companies and enterprises,Number of jobs,30939,33163,34932,37265,41158,38779,38054,38965,42445,45297,53464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1572,West Virginia,Administrative and support and waste managemen...,Number of jobs,42327,42133,43916,43337,42829,43835,45204,45357,42104,43638,46004
1604,Wisconsin,Management of companies and enterprises,Number of jobs,54804,57563,61493,64746,72464,71645,71267,69345,68088,67975,68852
1605,Wisconsin,Administrative and support and waste managemen...,Number of jobs,174780,178947,182294,178849,179870,179502,181349,179628,165354,172289,176759
1637,Wyoming,Management of companies and enterprises,Number of jobs,1288,1420,1596,1623,1946,1645,1898,1899,1984,2424,2656
1638,Wyoming,Administrative and support and waste managemen...,Number of jobs,12614,12864,12651,12363,12706,13637,14116,14235,13781,14756,15081

In [70]:
desired_years = "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"

for year in desired_years:
    management_jobs[year] = pd.to_numeric(management_jobs[year], errors='coerce')

desired_states = ["Alabama", "Alaska", "Arizona", "Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

all_management_jobs = []

for state in desired_states:
        find_management_job = management_jobs.loc[management_jobs["Location"] == state, desired_years].sum()
        all_management_jobs.append(find_management_job)

all_management_jobs = pd.DataFrame(all_management_jobs)
all_management_jobs["State"] = desired_states

column_to_move = "State"
moved_column = all_management_jobs.pop(column_to_move)
all_management_jobs.insert(0,column_to_move, moved_column)
display(all_management_jobs)

,State,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,183902,183424,188010,189257,195785,200476,204248,209914,199802,210476,215408
1,Alaska,20548,20906,20783,20704,20839,20557,20686,20764,19518,20059,20930
2,Arizona,294948,311631,320788,329327,343484,346232,352217,364194,350686,360869,376438
3,Arkansas,114548,117771,122156,124014,127691,130154,132451,131931,127291,133214,138828
4,California,1556462,1637800,1701083,1710860,1757307,1756863,1815863,1824492,1732096,1786400,1866120
5,Colorado,231207,237986,245370,246882,254784,256213,262085,267855,255433,265504,274056
6,Connecticut,149138,151198,153610,155929,158736,157714,161740,159826,151360,156548,162140
7,Delaware,36812,37363,38720,39025,44417,44853,46242,47437,46852,48760,50895
8,Florida,909471,944161,987983,1016838,1080020,1112140,1157617,1174052,1155688,1223900,1304646
9,Georgia,480598,502358,527883,532970,554415,567655,589044,616184,597730,636149,658892
10,Hawaii,66283,69787,72517,73018,74459,73195,73687,65378,57460,58476,61260
11,Idaho,56144,58543,59266,58427,64251,67678,70046,71018,72735,75112,76208
12,Illinois,621799,636036,655831,640323,646873,646700,650906,645866,598008,625903,657028
13,Indiana,250442,257059,267418,268364,271924,275305,279150,281974,259430,275658,287465
14,Iowa,108089,108381,111012,110382,109315,108496,110013,109891,105664,111298,115465
15,Kansas,115559,121342,127657,133043,131058,129296,130985,131578,122125,125790,131463
16,Kentucky,161835,168175,175365,176025,177989,178410,180266,180080,172519,180066,185525
17,Louisiana,177108,180352,184587,180422,183343,184101,188925,193226,183662,196739,202459
18,Maine,47008,48325,51609,51691,53378,54197,55613,55511,54204,57466,59335
19,Maryland,239762,251809,255671,255934,266650,264759,271096,272911,255901,266672,275564
20,Massachusetts,284673,294288,299831,311201,318891,319855,329796,328707,304388,318222,328851
21,Michigan,423109,434699,437345,436614,442484,445849,457450,454817,409815,429197,448146
22,Minnesota,248519,251992,254528,252221,256401,254294,257113,265234,247425,256920,263623
23,Mississippi,100038,104083,107779,108962,113731,114643,118238,118970,116336,125145,126299
24,Missouri,258798,266426,272010,272584,276876,275336,277791,276075,260123,263437,270757
25,Montana,29907,27872,27549,27501,27508,27861,29223,29961,29621,31924,33292
26,Nebraska,76726,80940,84246,86584,88508,87887,89462,90441,86589,86677,89817
27,Nevada,125557,130447,136106,145043,156667,158518,167015,171951,157281,167364,184558
28,New Hampshire,50643,51923,54403,56008,57070,57490,58465,58025,55730,58682,62969
29,New Jersey,406717,414868,420232,424131,438375,442592,449212,453886,428737,455080,473141
30,New Mexico,58855,60091,60001,58839,60216,62527,63915,66076,61850,63946,66978
31,New York,725540,744190,758666,765261,791309,793278,823325,846443,740177,764855,817427
32,North Carolina,450367,461427,479455,480247,495637,496981,506093,515193,500256,522797,555171
33,North Dakota,23424,23931,25238,24201,23672,23885,24352,22514,21497,22697,23925
34,Ohio,534839,549490,565595,563363,568849,569799,574422,576651,544611,563814,578469
35,Oklahoma,150678,150866,155846,153594,151957,157328,162607,164473,156414,161902,172337
36,Oregon,148568,159391,166480,170793,178168,181156,185060,187634,177070,180508,189102
37,Pennsylvania,506337,518714,527416,531895,542548,542089,548591,550927,505298,531303,555024
38,Rhode Island,42732,45044,46765,48375,50371,51117,52025,51595,48667,49568,49525
39,South Carolina,208545,212439,223388,225146,231205,242311,252480,260133,246381,259737,259945
40,South Dakota,23636,23671,23926,23962,24839,24565,25316,25726,25040,26074,27334
41,Tennessee,303706,318248,333961,340500,353334,357657,363750,370295,357724,375954,393007
42,Texas,1140134,1170050,1232856,1238334,1293659,1326950,1390894,1424400,1388166,1491893,1584342
43,Utah,119845,124248,128551,132479,142949,141820,147626,148893,149898,154254,158367
44,Vermont,19335,19630,20114,20038,20461,21102,21587,21468,20612,21323,22346
45,Virginia,356069,358785,365155,372095,382384,389980,403172,413656,402667,417127,435048
46,Washington,227317,235836,242053,249300,260123,267077,271782,276322,261544,272768,347579
47,West Virginia,49476,49097,50938,50366,50032,50993,52981,53195,50600,52173,54804
48,Wisconsin,229584,236510,243787,243595,252334,251147,252616,248973,233442,240264,245611
49,Wyoming,13902,14284,14247,13986,14652,15282,16014,16134,15765,17180,17737

Real Estate Jobs

In [ ]:
realesate_jobs = employment_by_state.loc[employment_by_state["Description"] == "Real estate and rental and leasing"]

display(realesate_jobs)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
18,Alabama,Real estate and rental and leasing,Number of jobs,95275,95850,98872,100183,103438,106858,110748,106010,118457,131522,145517
51,Alaska,Real estate and rental and leasing,Number of jobs,15657,16003,16386,16757,17104,17446,17528,16724,17291,18596,20473
84,Arizona,Real estate and rental and leasing,Number of jobs,193124,194974,199883,203228,207303,214253,221031,208358,228300,247278,272829
117,Arkansas,Real estate and rental and leasing,Number of jobs,52686,53103,54739,55920,57853,59781,61904,59587,64849,72743,80147
150,California,Real estate and rental and leasing,Number of jobs,1047870,1069216,1104724,1132032,1153072,1180973,1208527,1159196,1217117,1320398,1454721
183,Colorado,Real estate and rental and leasing,Number of jobs,182242,188393,196862,204747,211856,220082,226245,215609,231214,255492,280499
216,Connecticut,Real estate and rental and leasing,Number of jobs,110815,111740,115460,118051,118390,119793,121178,116023,124649,133505,147423
249,Delaware,Real estate and rental and leasing,Number of jobs,25663,26035,26770,27516,28308,29222,29650,28595,31392,34473,37989
282,Florida,Real estate and rental and leasing,Number of jobs,588398,619401,666678,708648,716450,772095,805867,779848,859045,955137,1057272
315,Georgia,Real estate and rental and leasing,Number of jobs,225416,228546,239397,248801,255457,268717,282297,276919,301748,332154,366520
348,Hawaii,Real estate and rental and leasing,Number of jobs,38655,39299,40726,41346,42962,43830,44680,42000,42275,47878,53091
381,Idaho,Real estate and rental and leasing,Number of jobs,43330,44576,46631,48055,49634,51679,53946,52700,59712,66606,73842
414,Illinois,Real estate and rental and leasing,Number of jobs,277592,282040,291467,299529,305311,312775,318523,304915,323515,348784,381470
447,Indiana,Real estate and rental and leasing,Number of jobs,128875,130393,135066,136875,140368,144198,148616,142865,154285,166309,182215
480,Iowa,Real estate and rental and leasing,Number of jobs,61549,63843,67359,69234,70896,72621,74529,71454,77907,83668,91759
513,Kansas,Real estate and rental and leasing,Number of jobs,60433,62134,64729,66620,68395,70296,72628,69089,74823,80359,87841
546,Kentucky,Real estate and rental and leasing,Number of jobs,79561,81026,83675,85362,87859,90340,92800,90062,97985,105882,116545
579,Louisiana,Real estate and rental and leasing,Number of jobs,108420,112335,115794,115754,118422,121100,123896,116949,121539,134268,148136
612,Maine,Real estate and rental and leasing,Number of jobs,30058,30623,31691,32229,33398,34556,35821,34498,37695,41688,46008
645,Maryland,Real estate and rental and leasing,Number of jobs,166764,168616,173843,178156,181231,187096,188815,177916,189024,201654,220794
678,Massachusetts,Real estate and rental and leasing,Number of jobs,172874,179186,186738,195642,200451,207596,213869,205876,217611,235214,259463
711,Michigan,Real estate and rental and leasing,Number of jobs,224738,228763,237772,241389,246599,253330,258658,247847,263742,282466,312272
744,Minnesota,Real estate and rental and leasing,Number of jobs,138504,141018,144692,147432,144477,146801,149170,142496,152461,164422,180445
777,Mississippi,Real estate and rental and leasing,Number of jobs,46462,47345,49166,50367,51693,52960,54348,51976,56346,61264,67266
810,Missouri,Real estate and rental and leasing,Number of jobs,142550,143010,147691,151154,155315,159878,163136,156478,170296,184668,204471
843,Montana,Real estate and rental and leasing,Number of jobs,31405,32218,33679,34979,36025,37601,38941,37423,41803,46408,51625
876,Nebraska,Real estate and rental and leasing,Number of jobs,41218,42871,44725,46315,47706,49486,50896,49869,55435,59736,65568
909,Nevada,Real estate and rental and leasing,Number of jobs,92633,93723,95946,98667,100929,103958,107139,101392,106907,117118,130455
942,New Hampshire,Real estate and rental and leasing,Number of jobs,34897,35823,36682,37310,38725,40224,41401,39126,42133,46732,51578
975,New Jersey,Real estate and rental and leasing,Number of jobs,281845,289258,302592,311775,320405,332234,343903,335902,359667,395582,439646
1008,New Mexico,Real estate and rental and leasing,Number of jobs,38462,38690,39285,39832,40127,40706,41698,39446,41476,44568,49032
1041,New York,Real estate and rental and leasing,Number of jobs,575385,594517,626706,652392,673097,697055,719545,709591,738413,798875,877036
1074,North Carolina,Real estate and rental and leasing,Number of jobs,221157,225902,236022,244273,253564,262718,274907,267773,295637,324421,359328
1107,North Dakota,Real estate and rental and leasing,Number of jobs,19940,21420,23409,23801,23805,24449,25156,24281,26359,27918,30777
1140,Ohio,Real estate and rental and leasing,Number of jobs,245903,250684,259960,265418,270688,277132,281813,269138,292618,314529,346409
1173,Oklahoma,Real estate and rental and leasing,Number of jobs,75497,77729,79101,81208,83633,86829,90138,85540,92672,101968,112416
1206,Oregon,Real estate and rental and leasing,Number of jobs,100932,102831,106499,110348,113625,116682,120163,114869,122179,130509,143199
1239,Pennsylvania,Real estate and rental and leasing,Number of jobs,267212,273675,286554,294270,300864,309023,317264,303868,327357,356241,392868
1272,Rhode Island,Real estate and rental and leasing,Number of jobs,26303,26918,27838,28425,29013,29693,30425,29349,31237,33664,37400
1305,South Carolina,Real estate and rental and leasing,Number of jobs,107742,110351,115243,119111,124276,128212,134574,131289,142159,155346,171311
1338,South Dakota,Real estate and rental and leasing,Number of jobs,20544,21891,23230,24065,24793,25564,26554,25791,28778,31431,34837
1371,Tennessee,Real estate and rental and leasing,Number of jobs,126390,129064,136232,142155,149495,157818,165089,162028,178177,198499,218009
1404,Texas,Real estate and rental and leasing,Number of jobs,608111,634151,671695,697892,713992,765897,797351,776161,840146,940564,1041348
1437,Utah,Real estate and rental and leasing,Number of jobs,95360,99076,103788,106459,109410,113284,117736,113755,127779,140716,154826
1470,Vermont,Real estate and rental and leasing,Number of jobs,14431,14772,14950,15175,15437,15927,16269,15720,17029,18556,20540
1503,Virginia,Real estate and rental and leasing,Number of jobs,207645,210956,217426,222677,226617,233330,238631,229738,245482,265149,292070
1536,Washington,Real estate and rental and leasing,Number of jobs,175828,179427,186876,192669,198630,206990,213384,204385,216279,235030,258438
1569,West Virginia,Real estate and rental and leasing,Number of jobs,25040,25484,26297,26294,26200,26131,26636,24784,26928,28792,31599
1602,Wisconsin,Real estate and rental and leasing,Number of jobs,119525,120947,124428,125817,127881,130852,133495,128924,138701,148416,163042
1635,Wyoming,Real estate and rental and leasing,Number of jobs,20285,21215,22088,22271,22443,23253,24533,23947,27007,30803,34015

Finance & Insurance Jobs

In [ ]:
finance_insurance_jobs = employment_by_state.loc[employment_by_state["Description"] == "Finance and insurance"]

display(finance_insurance_jobs)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
17,Alabama,Finance and insurance,Number of jobs,107620,109215,108231,108755,111819,113071,115895,112797,120354,126198,135312
50,Alaska,Finance and insurance,Number of jobs,11493,11716,11147,11090,11464,11381,11707,11083,11763,12229,13062
83,Arizona,Finance and insurance,Number of jobs,207341,214643,213709,224165,236286,243103,255096,255623,279773,294907,309879
116,Arkansas,Finance and insurance,Number of jobs,58102,58879,57243,58173,60808,60614,63533,62840,67851,71315,77180
149,California,Finance and insurance,Number of jobs,1011087,1013057,993098,1019760,1068142,1061126,1103250,1066018,1157986,1223924,1318004
182,Colorado,Finance and insurance,Number of jobs,202458,204988,198555,202672,211832,214048,224377,217016,240824,260823,282960
215,Connecticut,Finance and insurance,Number of jobs,199568,198313,188341,191191,195632,192088,191852,186717,200365,206919,224143
248,Delaware,Finance and insurance,Number of jobs,52907,54576,54798,57261,59158,60141,62616,61962,65940,70850,76624
281,Florida,Finance and insurance,Number of jobs,621161,636230,634481,659399,680379,708708,762729,751489,860965,941151,1038373
314,Georgia,Finance and insurance,Number of jobs,264304,269593,270199,276251,285916,289967,303533,299056,329285,349289,380470
347,Hawaii,Finance and insurance,Number of jobs,29307,29133,27859,28909,30109,29536,30673,28950,31635,33756,35782
380,Idaho,Finance and insurance,Number of jobs,38454,38701,37826,38929,40870,41113,43511,42983,47748,52156,57109
413,Illinois,Finance and insurance,Number of jobs,490613,491226,474126,484199,493962,490943,503356,494490,527994,548428,586256
446,Indiana,Finance and insurance,Number of jobs,146184,146495,144565,146707,151293,151782,157423,153964,162863,170277,182354
479,Iowa,Finance and insurance,Number of jobs,127888,128726,126380,128184,132929,133948,136443,132793,138209,143083,148523
512,Kansas,Finance and insurance,Number of jobs,98662,100041,98234,100542,102699,101563,102818,100277,107132,110570,116460
545,Kentucky,Finance and insurance,Number of jobs,101969,104020,102658,105536,108345,108030,110221,106705,111648,117109,122273
578,Louisiana,Finance and insurance,Number of jobs,105758,106853,105960,105192,108563,107241,111324,106119,111607,119337,129595
611,Maine,Finance and insurance,Number of jobs,34107,34255,32080,32349,32929,33075,33955,33863,35776,36626,38766
644,Maryland,Finance and insurance,Number of jobs,165473,165258,160589,162362,167968,164710,170350,161768,175176,184559,197294
677,Massachusetts,Finance and insurance,Number of jobs,267649,270941,264360,273787,282844,281226,286905,282850,303346,316357,338922
710,Michigan,Finance and insurance,Number of jobs,236653,239988,233608,236909,247075,249045,255339,254365,275212,291653,306946
743,Minnesota,Finance and insurance,Number of jobs,212561,215305,206964,211137,214410,215505,221039,220384,229235,235492,246485
776,Mississippi,Finance and insurance,Number of jobs,56824,56704,55060,55321,56965,56787,59583,57189,60036,62360,67628
809,Missouri,Finance and insurance,Number of jobs,189445,188396,184483,186457,192953,194540,200896,196384,210028,220377,236768
842,Montana,Finance and insurance,Number of jobs,25285,25197,24441,24836,25465,25324,26659,26850,29031,30717,33540
875,Nebraska,Finance and insurance,Number of jobs,79590,80124,79212,80249,83390,83459,85183,84260,88519,89335,92885
908,Nevada,Finance and insurance,Number of jobs,84932,87856,81922,85013,88356,85036,91048,84942,97740,109193,122182
941,New Hampshire,Finance and insurance,Number of jobs,42605,43084,42118,43272,45243,42420,42613,41710,44490,48021,51078
974,New Jersey,Finance and insurance,Number of jobs,334823,338165,321179,329773,340079,340478,352567,344748,369705,394810,427219
1007,New Mexico,Finance and insurance,Number of jobs,35108,34810,34461,34464,35406,35673,36716,35736,37322,38576,41302
1040,New York,Finance and insurance,Number of jobs,864310,874328,862957,882618,912988,906911,932523,934729,996576,1035837,1129778
1073,North Carolina,Finance and insurance,Number of jobs,240180,243407,242241,249501,260427,265158,280375,285467,312938,340812,370626
1106,North Dakota,Finance and insurance,Number of jobs,25891,26312,26572,26995,27387,27094,27866,27185,28281,29094,30381
1139,Ohio,Finance and insurance,Number of jobs,329885,330848,323819,330041,342095,346744,358946,347356,368663,385871,412030
1172,Oklahoma,Finance and insurance,Number of jobs,100285,100632,98711,100563,103769,102968,108097,102537,110669,117463,127727
1205,Oregon,Finance and insurance,Number of jobs,93834,94217,91807,92756,95157,96188,98112,94049,100319,103539,108772
1238,Pennsylvania,Finance and insurance,Number of jobs,394529,398452,393170,394315,402745,404459,417978,411227,435439,453787,482704
1271,Rhode Island,Finance and insurance,Number of jobs,34633,35320,34894,35663,36100,37936,38071,37263,39357,39973,42642
1304,South Carolina,Finance and insurance,Number of jobs,107375,108546,105622,107251,112047,113482,119719,116807,127566,136071,149595
1337,South Dakota,Finance and insurance,Number of jobs,39091,40084,39612,39662,39954,39769,41026,39407,41324,42978,45206
1370,Tennessee,Finance and insurance,Number of jobs,167831,168147,167007,170087,177869,179609,189405,188846,204660,218238,235111
1403,Texas,Finance and insurance,Number of jobs,910012,939558,925487,956865,993845,1017948,1075114,1059858,1183275,1295525,1422491
1436,Utah,Finance and insurance,Number of jobs,117123,119379,116492,122182,127059,127681,135660,131976,150804,162673,174506
1469,Vermont,Finance and insurance,Number of jobs,14394,14200,13786,13882,14091,13924,14236,14080,15055,15552,16665
1502,Virginia,Finance and insurance,Number of jobs,206616,210257,207097,211675,220422,223463,232143,228609,245622,256098,275590
1535,Washington,Finance and insurance,Number of jobs,159767,161511,158773,161817,167204,169128,175206,170838,183585,196984,211247
1568,West Virginia,Finance and insurance,Number of jobs,27770,27474,26467,26198,26395,26069,27021,25937,26503,27607,29259
1601,Wisconsin,Finance and insurance,Number of jobs,186563,184963,177883,179140,182032,182072,185277,182558,191542,198925,212300
1634,Wyoming,Finance and insurance,Number of jobs,16065,16472,16104,16477,17484,18221,20084,20479,25040,31608,35536

Media & News Jobs

In [ ]:
media_jobs = employment_by_state.loc[employment_by_state["Description"] == "Information"]

display(media_jobs)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
16,Alabama,Information,Number of jobs,28238,28488,28184,27397,27089,27490,27681,27342,25563,27780,30080
49,Alaska,Information,Number of jobs,7195,7211,7308,7263,7352,7134,6686,6251,5955,6107,6406
82,Arizona,Information,Number of jobs,48794,53047,55170,55888,56771,57479,59298,60273,57227,61898,66692
115,Arkansas,Information,Number of jobs,18442,18495,17992,16392,16303,16249,14334,14138,15116,16236,18081
148,California,Information,Number of jobs,518352,534086,553447,576326,613927,609898,618680,632674,612119,659638,727797
181,Colorado,Information,Number of jobs,81939,82369,83579,83417,84968,85664,89623,88993,88612,93036,99290
214,Connecticut,Information,Number of jobs,38135,39149,39305,39096,39525,38824,38898,38224,36485,38601,40949
247,Delaware,Information,Number of jobs,6830,6702,6490,6164,6181,6297,5728,5462,5464,5936,6494
280,Florida,Information,Number of jobs,169150,172063,177115,173640,175876,180817,183092,179921,175092,194451,212989
313,Georgia,Information,Number of jobs,119222,123380,128962,126620,133031,139229,137224,137928,132459,152201,162140
346,Hawaii,Information,Number of jobs,10309,10694,10490,10695,10754,10945,11066,10448,8986,10119,11019
379,Idaho,Information,Number of jobs,11971,12030,12078,11904,11949,12099,11948,11585,10442,11755,12888
412,Illinois,Information,Number of jobs,118981,117635,118994,119740,118670,115794,113685,112022,105565,111785,121445
445,Indiana,Information,Number of jobs,43675,43855,44437,41906,41148,40282,37957,36550,34389,36734,39871
478,Iowa,Information,Number of jobs,31221,30410,30238,29157,27069,26647,26603,25530,23408,24279,26000
511,Kansas,Information,Number of jobs,31829,31737,32315,25282,24998,24004,23165,22078,20967,22036,23778
544,Kentucky,Information,Number of jobs,31289,31032,31368,30020,27886,28204,27573,26815,25733,27469,28919
577,Louisiana,Information,Number of jobs,30126,32292,31983,32301,29744,29621,29359,28515,24833,28990,32275
610,Maine,Information,Number of jobs,10053,9888,9836,9832,10072,9830,9919,9335,8748,9720,10541
643,Maryland,Information,Number of jobs,53075,53131,53240,51521,52251,51380,49396,47825,45636,49054,53614
676,Massachusetts,Information,Number of jobs,99566,99398,100022,103057,104597,107129,106714,106308,102817,110250,118546
709,Michigan,Information,Number of jobs,69394,71298,74765,73107,73488,71430,70935,68720,64501,68926,75340
742,Minnesota,Information,Number of jobs,61959,61853,61585,59938,59096,59341,57929,54829,51426,52649,56775
775,Mississippi,Information,Number of jobs,15426,15666,16312,16624,15337,15032,14409,13957,13107,14244,15172
808,Missouri,Information,Number of jobs,60983,61077,61158,58442,58000,57406,56801,54773,52267,56002,59870
841,Montana,Information,Number of jobs,8718,8780,8366,8111,8286,8483,8416,8099,7848,7972,8567
874,Nebraska,Information,Number of jobs,19412,19543,19632,20018,21037,20833,20338,19659,18751,20864,22094
907,Nevada,Information,Number of jobs,17890,18460,19512,19041,20409,20621,21643,21174,19250,22736,25517
940,New Hampshire,Information,Number of jobs,14572,14545,14779,14847,15231,15434,15202,14709,14319,15017,16356
973,New Jersey,Information,Number of jobs,94700,92699,93955,92135,91739,89815,88722,85039,86963,93124,100988
1006,New Mexico,Information,Number of jobs,16473,16059,15726,15588,16001,15491,15094,14005,12253,13936,15066
1039,New York,Information,Number of jobs,300812,302324,309468,308297,311956,314829,320739,318828,309408,328525,350619
1072,North Carolina,Information,Number of jobs,83860,84452,88039,90498,94290,95251,96558,91319,89863,97732,104891
1105,North Dakota,Information,Number of jobs,7720,7624,7690,7436,7479,7376,7080,6887,6558,6809,7217
1138,Ohio,Information,Number of jobs,90115,90912,89023,86676,87554,88486,87603,84636,80461,85028,93128
1171,Oklahoma,Information,Number of jobs,27579,26872,26976,26103,26206,26201,25598,24965,24100,25067,26942
1204,Oregon,Information,Number of jobs,40864,40416,40851,41278,41709,43095,43103,42928,41616,45165,49275
1237,Pennsylvania,Information,Number of jobs,107104,105702,103418,101988,102317,101514,104124,103608,100757,108148,116185
1270,Rhode Island,Information,Number of jobs,11214,10714,10528,10260,9748,7945,7630,7414,6887,7534,8081
1303,South Carolina,Information,Number of jobs,32210,33000,33432,33501,33892,34991,35253,33185,31920,36156,38736
1336,South Dakota,Information,Number of jobs,7317,7124,7278,7030,7048,7029,6935,6773,6449,6755,7286
1369,Tennessee,Information,Number of jobs,53711,54811,55314,54758,57103,58690,58040,57382,56310,62911,69867
1402,Texas,Information,Number of jobs,238984,245120,249789,245086,249943,255085,257776,259192,252865,276491,300398
1435,Utah,Information,Number of jobs,36627,38086,39300,39793,42299,44273,43836,44758,44143,48135,54369
1468,Vermont,Information,Number of jobs,5955,5996,6148,5979,6098,6019,5882,5744,5425,5817,6350
1501,Virginia,Information,Number of jobs,85935,85699,87084,84140,83323,84099,83321,82555,80850,85544,92656
1534,Washington,Information,Number of jobs,117038,118463,122337,125928,132676,139313,146567,155879,161319,173061,193803
1567,West Virginia,Information,Number of jobs,11184,11085,11264,11201,11229,10342,10109,9679,8969,9476,10179
1600,Wisconsin,Information,Number of jobs,53908,54858,56064,56683,56961,55838,55107,54188,52200,53950,57824
1633,Wyoming,Information,Number of jobs,4760,4752,4772,4674,4768,4825,4685,4438,4250,4562,4905

Logistics & Trade Jobs

In [ ]:
logistics_trade_jobs = employment_by_state.loc[employment_by_state["Description"].isin(["Transportation and warehousing", "Wholesale trade", "Retail trade"])]

display(logistics_trade_jobs)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
13,Alabama,Wholesale trade,Number of jobs,80219,81027,85169,86430,81722,81359,82306,82080,80839,82820,87542
14,Alabama,Retail trade,Number of jobs,272757,274848,278965,283529,284245,284087,283157,280854,279556,288660,296118
15,Alabama,Transportation and warehousing,Number of jobs,73619,75203,76480,78804,78968,81250,85397,91222,98413,118384,125376
46,Alaska,Wholesale trade,Number of jobs,7216,7595,8007,8187,7426,7318,7439,7423,7072,7168,7362
47,Alaska,Retail trade,Number of jobs,43899,44120,45133,45816,45646,45804,44732,43798,41886,42219,43074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598,Wisconsin,Retail trade,Number of jobs,365213,369688,375753,379056,380028,379842,375135,364900,358363,365796,377281
1599,Wisconsin,Transportation and warehousing,Number of jobs,113378,113453,115478,122596,126598,131558,136726,143861,147597,162058,175071
1630,Wyoming,Wholesale trade,Number of jobs,10130,10263,11038,11228,9554,9201,9359,9476,8875,8810,9396
1631,Wyoming,Retail trade,Number of jobs,37866,38408,38469,39786,39471,38979,38385,37642,37955,38970,39902
1632,Wyoming,Transportation and warehousing,Number of jobs,14897,15000,15717,15859,14116,14408,15046,15672,15552,16916,17567

In [71]:
desired_years = "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"

for year in desired_years:
    logistics_trade_jobs[year] = pd.to_numeric(logistics_trade_jobs[year], errors='coerce')

desired_states = ["Alabama", "Alaska", "Arizona", "Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

all_logistics_trade_jobs = []

for state in desired_states:
        find_logistics_trade_job = logistics_trade_jobs.loc[logistics_trade_jobs["Location"] == state, desired_years].sum()
        all_logistics_trade_jobs.append(find_logistics_trade_job)

all_logistics_trade_jobs = pd.DataFrame(all_logistics_trade_jobs)
all_logistics_trade_jobs["State"] = desired_states

column_to_move = "State"
moved_column = all_logistics_trade_jobs.pop(column_to_move)
all_logistics_trade_jobs.insert(0,column_to_move, moved_column)
display(all_logistics_trade_jobs)

,State,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,426595,431078,440614,448763,444935,446696,450860,454156,458808,489864,509036
1,Alaska,74919,75105,76438,77687,76327,77224,77172,77407,72965,76262,80286
2,Arizona,564393,571270,595301,619639,632003,654634,670241,682554,708438,753301,789642
3,Arkansas,280271,280120,287057,295967,293361,293974,294993,294033,295809,307520,324921
4,California,3323703,3426342,3581061,3762454,3825512,3947115,3992926,4011915,3941505,4139627,4338875
5,Colorado,496843,509306,531366,556337,564943,586736,601684,612537,616853,641148,673696
6,Connecticut,340954,344210,350861,355919,355039,359432,361560,359477,352120,372544,388677
7,Delaware,86238,88289,90927,94000,95385,95225,96176,98733,100044,107525,115905
8,Florida,1833352,1883810,1970110,2077677,2115218,2197351,2275086,2335161,2357814,2535057,2661235
9,Georgia,980586,1001549,1043479,1095817,1113954,1149869,1169559,1190392,1202567,1279165,1362154
10,Hawaii,137144,140264,143475,147676,147603,151448,152518,155663,136218,143508,150362
11,Idaho,156526,159804,164521,170833,169521,174006,178026,181152,186868,203394,212829
12,Illinois,1337534,1350314,1384651,1438561,1454510,1464003,1468846,1470052,1461527,1505284,1569359
13,Indiana,651430,660981,673645,688565,692482,702261,707668,711183,715446,750237,789020
14,Iowa,365668,369413,372940,378780,374179,374809,372782,370515,365884,375927,386547
15,Kansas,304342,308039,315765,320127,319064,322293,323380,321786,318900,329883,341517
16,Kentucky,430092,432342,442985,455478,461824,469702,474256,476270,477289,501806,525291
17,Louisiana,442377,450903,461886,470056,463764,462034,464810,464573,454729,470876,488762
18,Maine,140816,141714,144116,144870,144099,144767,143882,142590,138232,145841,150569
19,Maryland,531096,536126,549876,575315,582763,592773,599187,604069,605921,646947,668917
20,Massachusetts,627201,638381,659218,695753,706142,737228,741757,747857,707083,741261,771236
21,Michigan,858497,874253,897868,922600,922232,935580,947187,954538,938795,986183,1032343
22,Minnesota,594426,603471,617686,632076,633048,644591,649344,645326,631040,648062,676213
23,Mississippi,255249,257546,264326,271589,272239,275837,276695,278045,282105,294947,307617
24,Missouri,615534,621474,634743,649876,646761,652409,655959,655925,653632,687739,715675
25,Montana,108548,110866,113715,116444,114181,115001,115795,115344,115492,121019,125432
26,Nebraska,236517,238214,243467,248354,243612,243614,243121,241485,238180,242178,247634
27,Nevada,254758,261227,274757,289012,302404,320449,331676,344078,341352,372033,393764
28,New Hampshire,156450,157405,159055,162115,162537,164266,164191,163823,160195,168283,173456
29,New Jersey,955141,964891,991192,1027906,1042499,1071963,1087298,1096333,1058802,1117519,1176409
30,New Mexico,163692,164926,168690,170628,165678,164508,166417,165332,164267,172754,182007
31,New York,1793591,1822419,1882138,1921356,1913222,1947522,1969781,1975959,1835285,1906775,1984182
32,North Carolina,882945,899166,930810,963014,978830,1001859,1013811,1035593,1059319,1127280,1175914
33,North Dakota,109675,115146,120512,118784,108859,108240,108550,108533,104671,105406,108912
34,Ohio,1144782,1158046,1181686,1209307,1207128,1222697,1231400,1243269,1260303,1312374,1369268
35,Oklahoma,344069,350680,361279,370220,365300,367424,370224,372382,383086,397937,414316
36,Oregon,379180,381395,394274,410194,413829,431341,437235,443117,446733,463915,483364
37,Pennsylvania,1282580,1289575,1311024,1337179,1343582,1356328,1365718,1366020,1331759,1395130,1455713
38,Rhode Island,86599,86364,88449,91764,92107,93736,95412,96355,92398,98919,103170
39,South Carolina,413444,422300,438597,455642,462381,471576,482802,490116,498683,526016,550443
40,South Dakota,101374,102220,105285,107729,106744,106575,106831,106187,105088,109113,112485
41,Tennessee,690601,700129,718423,737778,747920,762178,772643,784035,793689,834957,872395
42,Texas,2621055,2700974,2814773,2944920,2950864,3052037,3134212,3198116,3220827,3399731,3599972
43,Utah,288772,295177,306095,320880,327579,341156,353034,358529,365712,388267,406644
44,Vermont,65446,65434,66477,66701,66005,66760,66320,65310,62104,64378,66120
45,Virginia,742367,752161,768979,795615,806450,823697,825847,827600,847231,885536,923348
46,Washington,643344,661032,691847,723674,739341,778760,796256,805740,809177,845852,829827
47,West Virginia,156362,157072,157152,157553,153266,152420,150735,147224,143119,148204,151968
48,Wisconsin,605685,612465,627420,640378,640516,647487,649794,642103,635507,661007,692950
49,Wyoming,62893,63671,65224,66873,63141,62588,62790,62790,62382,64696,66865

Manufacturing Jobs

In [ ]:
manufacturing_jobs = employment_by_state.loc[employment_by_state["Description"] == "Manufacturing"]

display(manufacturing_jobs)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
12,Alabama,Manufacturing,Number of jobs,252450,258942,262463,267889,271213,274121,277619,279259,269251,274979,284309
45,Alaska,Manufacturing,Number of jobs,16505,17093,16934,16767,16449,16117,15368,15552,(D),14663,14642
78,Arizona,Manufacturing,Number of jobs,166664,168492,169386,171762,175205,178671,184518,191004,191552,195434,204725
111,Arkansas,Manufacturing,Number of jobs,159495,157605,158467,160559,160990,163449,166363,167845,160457,162678,168636
144,California,Manufacturing,Number of jobs,1345911,1357737,1373841,1399168,1413855,1418975,1424881,1417873,1361082,1367105,1419413
177,Colorado,Manufacturing,Number of jobs,147003,149522,152914,158439,161328,162959,165709,166850,163308,164707,169226
210,Connecticut,Manufacturing,Number of jobs,173559,172898,168429,168136,165972,168514,169859,170409,162636,161198,165442
243,Delaware,Manufacturing,Number of jobs,26994,26698,27035,28526,27233,27460,28662,28800,27159,26522,27851
276,Florida,Manufacturing,Number of jobs,349747,360089,369932,383583,398735,409014,419018,429162,426060,436441,457131
309,Georgia,Manufacturing,Number of jobs,373673,378913,388706,400277,412409,421894,433162,435550,416523,425727,446773
342,Hawaii,Manufacturing,Number of jobs,17474,18179,18272,18431,18873,18819,18532,17855,15793,(D),16262
375,Idaho,Manufacturing,Number of jobs,62227,65413,65910,68051,70898,73230,74737,74942,74577,76591,79937
408,Illinois,Manufacturing,Number of jobs,602850,601176,600207,602390,596630,596964,607486,605824,575261,574135,588841
441,Indiana,Manufacturing,Number of jobs,495891,507226,521893,533829,538732,548341,557158,555753,519485,539010,557860
474,Iowa,Manufacturing,Number of jobs,217208,221396,223650,223309,221237,223301,229773,232893,223269,224490,229880
507,Kansas,Manufacturing,Number of jobs,169289,170092,169281,168349,167749,168427,171779,173579,165538,167160,175340
540,Kentucky,Manufacturing,Number of jobs,230158,237244,242274,249075,256099,258747,259587,260625,243778,250875,260282
573,Louisiana,Manufacturing,Number of jobs,150338,153545,156490,153384,145980,144990,146137,147894,141930,139750,144855
606,Maine,Manufacturing,Number of jobs,55728,55915,55398,55881,56296,56426,57120,57865,54756,58475,59146
639,Maryland,Manufacturing,Number of jobs,117582,116815,113657,114269,114820,117787,120529,121890,119096,120880,121968
672,Massachusetts,Manufacturing,Number of jobs,263687,263959,263403,263646,260858,259623,259993,257661,243355,245587,251159
705,Michigan,Manufacturing,Number of jobs,553139,572461,592579,611960,627514,642991,655267,651972,581267,611037,634026
738,Minnesota,Manufacturing,Number of jobs,320206,323191,327586,333172,334572,335637,338168,338900,323589,326833,337869
771,Mississippi,Manufacturing,Number of jobs,141796,142384,145073,147235,149165,150089,150855,152745,145580,149890,154424
804,Missouri,Manufacturing,Number of jobs,261080,266365,268874,274754,277834,280361,286990,289852,279638,283585,295203
837,Montana,Manufacturing,Number of jobs,21550,22659,23030,23447,24262,24657,25168,25358,24823,25653,26340
870,Nebraska,Manufacturing,Number of jobs,98331,100072,100853,100884,100631,101857,103539,103549,101325,103015,106951
903,Nevada,Manufacturing,Number of jobs,43639,45771,46744,47750,49651,54020,61616,65380,62284,66610,71259
936,New Hampshire,Manufacturing,Number of jobs,70705,71171,71442,72423,73556,74313,75704,75965,71887,72129,74062
969,New Jersey,Manufacturing,Number of jobs,259205,258190,257595,253996,259352,261121,263518,266640,253688,256162,266311
1002,New Mexico,Manufacturing,Number of jobs,35709,35416,33986,34103,33152,32512,33314,34044,32678,32532,33829
1035,New York,Manufacturing,Number of jobs,490672,491475,487239,489553,487932,481546,478294,472096,433937,440062,454887
1068,North Carolina,Manufacturing,Number of jobs,460170,465451,471434,483682,489146,490979,497452,499224,475436,485774,495718
1101,North Dakota,Manufacturing,Number of jobs,26563,26959,27491,27090,26278,26442,27698,28218,26918,27637,28936
1134,Ohio,Manufacturing,Number of jobs,682941,691686,702126,714992,715646,716499,728949,728802,682094,693844,713899
1167,Oklahoma,Manufacturing,Number of jobs,145745,148094,150949,148317,140498,139874,144802,145204,136038,133436,138469
1200,Oregon,Manufacturing,Number of jobs,186787,191642,195438,202410,206018,207380,211746,212877,200405,200802,206906
1233,Pennsylvania,Manufacturing,Number of jobs,594545,593925,596963,597763,590842,593750,600807,603487,566632,571803,593364
1266,Rhode Island,Manufacturing,Number of jobs,41698,42274,43139,43546,42874,42765,42635,41872,39624,41126,42341
1299,South Carolina,Manufacturing,Number of jobs,229442,233990,239628,245369,248242,250289,259660,267919,254655,259441,271340
1332,South Dakota,Manufacturing,Number of jobs,43234,43789,44612,44855,44641,45594,46933,47326,45540,45992,47401
1365,Tennessee,Manufacturing,Number of jobs,326822,333126,339342,347281,359629,364095,369359,372720,353524,367209,383023
1398,Texas,Manufacturing,Number of jobs,929678,947970,959838,953138,924573,933458,963691,985393,951394,955704,1005501
1431,Utah,Manufacturing,Number of jobs,124532,127518,129543,132975,135965,139206,142972,146426,146543,155293,160756
1464,Vermont,Manufacturing,Number of jobs,35570,35818,35081,34821,34089,33693,33737,33617,31729,32011,32382
1497,Virginia,Manufacturing,Number of jobs,243046,244043,244717,247130,247146,248796,254287,256938,248212,250873,258604
1530,Washington,Manufacturing,Number of jobs,298950,307350,308458,311776,311468,305078,307307,311482,289000,275518,284968
1563,West Virginia,Manufacturing,Number of jobs,51721,51314,50559,50404,49732,49434,49623,49425,46936,47808,48883
1596,Wisconsin,Manufacturing,Number of jobs,471426,474759,481190,484328,482328,485083,492767,499907,474256,482212,498082
1629,Wyoming,Manufacturing,Number of jobs,11277,11601,11779,11887,11530,(D),12188,12399,12111,12092,(D)

Construction Jobs

In [ ]:
construction_jobs = employment_by_state.loc[employment_by_state["Description"].isin(["Construction", "Utilities"])]

display(construction_jobs)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
10,Alabama,Utilities,Number of jobs,14573,14701,14677,14961,14962,14140,14256,13756,13509,13528,13475
11,Alabama,Construction,Number of jobs,136841,135665,135626,136107,141702,142525,148034,152455,157497,158261,165585
43,Alaska,Utilities,Number of jobs,2209,2239,2205,2274,2347,2237,2322,2326,2451,2621,2643
44,Alaska,Construction,Number of jobs,23997,24118,24719,25014,23936,22680,23285,23499,23285,23015,23551
76,Arizona,Utilities,Number of jobs,12614,12293,12337,12658,13261,12901,12802,13015,12837,12779,12818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,West Virginia,Construction,Number of jobs,49741,48349,47463,45637,43573,44976,53609,48209,42979,43711,45150
1594,Wisconsin,Utilities,Number of jobs,11165,11004,10718,10940,10295,9872,9536,9242,8885,8674,8631
1595,Wisconsin,Construction,Number of jobs,154109,159387,164351,169317,174651,178183,183673,184876,187931,188641,196176
1627,Wyoming,Utilities,Number of jobs,2555,2575,2589,2660,2762,2600,2631,2579,(D),2539,(D)
1628,Wyoming,Construction,Number of jobs,29301,29668,31609,30889,29279,27725,28549,30915,29830,29560,30141

In [72]:
desired_years = "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"

for year in desired_years:
    construction_jobs[year] = pd.to_numeric(construction_jobs[year], errors='coerce')

desired_states = ["Alabama", "Alaska", "Arizona", "Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

all_construction_jobs = []

for state in desired_states:
        find_construction_job = construction_jobs.loc[construction_jobs["Location"] == state, desired_years].sum()
        all_construction_jobs.append(find_construction_job)

all_construction_jobs = pd.DataFrame(all_construction_jobs)
all_construction_jobs["State"] = desired_states

column_to_move = "State"
moved_column = all_construction_jobs.pop(column_to_move)
all_construction_jobs.insert(0,column_to_move, moved_column)
display(all_construction_jobs)

,State,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,151414.0,150366.0,150303.0,151068.0,156664.0,156665.0,162290.0,166211.0,171006.0,171789.0,179060.0
1,Alaska,26206.0,26357.0,26924.0,27288.0,26283.0,24917.0,25607.0,25825.0,25736.0,25636.0,26194.0
2,Arizona,178506.0,186798.0,188610.0,191552.0,204623.0,216224.0,232749.0,247533.0,257783.0,262624.0,282840.0
3,Arkansas,92915.0,90981.0,91522.0,93411.0,96841.0,97877.0,98713.0,100417.0,105752.0,105815.0,110655.0
4,California,970593.0,1025707.0,1062940.0,1119959.0,1178981.0,1207384.0,1263285.0,1281097.0,1274296.0,1280051.0,1327178.0
5,Colorado,194885.0,210666.0,228315.0,235572.0,249315.0,258771.0,271659.0,275254.0,278629.0,279183.0,289361.0
6,Connecticut,110908.0,114516.0,116765.0,117961.0,122369.0,119235.0,119849.0,118266.0,119592.0,120413.0,124397.0
7,Delaware,29377.0,30754.0,31642.0,32195.0,32968.0,33770.0,34633.0,35123.0,35674.0,36565.0,37328.0
8,Florida,525372.0,556981.0,596264.0,635921.0,694750.0,739131.0,798811.0,828702.0,865938.0,877131.0,915838.0
9,Georgia,282755.0,290524.0,305414.0,313646.0,335044.0,342070.0,363628.0,373005.0,391560.0,394511.0,410009.0
10,Hawaii,43979.0,46135.0,47267.0,50751.0,54613.0,52612.0,52654.0,53724.0,52755.0,52698.0,53319.0
11,Idaho,53719.0,56778.0,59125.0,61419.0,66767.0,70515.0,76141.0,80301.0,85558.0,90013.0,96820.0
12,Illinois,329450.0,333116.0,345043.0,355744.0,364656.0,360027.0,365571.0,362145.0,356602.0,357840.0,371751.0
13,Indiana,204350.0,203008.0,202606.0,204607.0,213156.0,219722.0,224672.0,228034.0,231676.0,234437.0,243768.0
14,Iowa,110997.0,114384.0,121196.0,124162.0,128840.0,122519.0,123442.0,123770.0,125096.0,124564.0,128871.0
15,Kansas,94121.0,96047.0,99128.0,98498.0,100673.0,98887.0,99626.0,101370.0,103534.0,102820.0,104972.0
16,Kentucky,124483.0,124198.0,128535.0,130350.0,134814.0,135097.0,136445.0,139212.0,140854.0,140126.0,146386.0
17,Louisiana,190678.0,196361.0,202776.0,202375.0,207143.0,214430.0,222052.0,211138.0,195100.0,206079.0,207855.0
18,Maine,53000.0,53011.0,53269.0,53614.0,55699.0,56387.0,57672.0,57077.0,59359.0,61084.0,61140.0
19,Maryland,216766.0,228380.0,230754.0,235973.0,247982.0,246200.0,251787.0,249182.0,252531.0,253028.0,258267.0
20,Massachusetts,212687.0,224176.0,232314.0,248640.0,262296.0,263031.0,271432.0,270453.0,265780.0,276267.0,286410.0
21,Michigan,246834.0,253848.0,263348.0,269117.0,281311.0,287293.0,296446.0,300901.0,298495.0,305616.0,318379.0
22,Minnesota,167610.0,173958.0,180702.0,186796.0,189845.0,191388.0,193536.0,197957.0,197704.0,202381.0,208136.0
23,Mississippi,93963.0,97587.0,95445.0,91179.0,92350.0,91351.0,92559.0,93496.0,96186.0,96908.0,100223.0
24,Missouri,189511.0,191786.0,193239.0,195237.0,204784.0,206610.0,206442.0,209104.0,215937.0,218250.0,228665.0
25,Montana,44173.0,45358.0,46240.0,47918.0,49619.0,49940.0,51823.0,52451.0,55135.0,57110.0,61106.0
26,Nebraska,66714.0,68881.0,71268.0,73211.0,76168.0,76298.0,77633.0,79025.0,82280.0,81857.0,85225.0
27,Nevada,72196.0,77166.0,83780.0,90749.0,97999.0,105430.0,112896.0,120524.0,120004.0,124356.0,134034.0
28,New Hampshire,51426.0,52055.0,52193.0,52927.0,55425.0,55721.0,56421.0,55815.0,57599.0,58121.0,60330.0
29,New Jersey,231567.0,242356.0,248108.0,255205.0,266749.0,264795.0,271319.0,270690.0,271555.0,274145.0,284820.0
30,New Mexico,62479.0,63753.0,64174.0,64314.0,64819.0,66631.0,69443.0,72341.0,71715.0,69668.0,72211.0
31,New York,508893.0,525145.0,543084.0,561553.0,585540.0,588335.0,603904.0,609078.0,570439.0,574156.0,593489.0
32,North Carolina,305846.0,310786.0,320390.0,327926.0,350457.0,356206.0,376667.0,389281.0,404438.0,408198.0,424852.0
33,North Dakota,42840.0,46100.0,48944.0,47834.0,45124.0,40099.0,39129.0,40769.0,38381.0,37224.0,38335.0
34,Ohio,326588.0,332202.0,340763.0,341908.0,353944.0,363933.0,370018.0,375023.0,378826.0,378380.0,393133.0
35,Oklahoma,133255.0,138478.0,139230.0,138840.0,141749.0,140121.0,143346.0,145330.0,145176.0,143231.0,147011.0
36,Oregon,108010.0,112072.0,117576.0,121041.0,130553.0,138293.0,147172.0,150326.0,151093.0,152360.0,158816.0
37,Pennsylvania,386027.0,388218.0,393610.0,397394.0,407947.0,412784.0,419799.0,419876.0,408703.0,417129.0,427631.0
38,Rhode Island,28826.0,29236.0,29666.0,30602.0,32453.0,1512.0,33362.0,34056.0,33624.0,33959.0,35734.0
39,South Carolina,139648.0,142650.0,146327.0,150068.0,163262.0,169621.0,175695.0,178376.0,182227.0,182394.0,189266.0
40,South Dakota,33913.0,34559.0,35420.0,36135.0,37422.0,36571.0,37009.0,37429.0,39090.0,39452.0,41067.0
41,Tennessee,199679.0,197881.0,201606.0,205828.0,215948.0,222670.0,230740.0,235056.0,248859.0,255297.0,271119.0
42,Texas,1001089.0,1039946.0,1090492.0,1124834.0,1181684.0,1207457.0,1264273.0,1304798.0,1324568.0,1320795.0,1392156.0
43,Utah,98461.0,103067.0,108399.0,114556.0,123972.0,130580.0,138657.0,144044.0,153442.0,160594.0,171105.0
44,Vermont,30067.0,29941.0,30428.0,30444.0,30856.0,29950.0,30134.0,29660.0,29411.0,29798.0,30765.0
45,Virginia,277251.0,277444.0,279269.0,284219.0,292973.0,296341.0,303948.0,307286.0,322342.0,324334.0,332825.0
46,Washington,196705.0,206959.0,219029.0,233397.0,250121.0,263353.0,279031.0,283799.0,279378.0,289185.0,299291.0
47,West Virginia,55160.0,53643.0,52794.0,50850.0,49007.0,50419.0,59085.0,53629.0,48181.0,48952.0,50701.0
48,Wisconsin,165274.0,170391.0,175069.0,180257.0,184946.0,188055.0,193209.0,194118.0,196816.0,197315.0,204807.0
49,Wyoming,31856.0,32243.0,34198.0,33549.0,32041.0,30325.0,31180.0,33494.0,29830.0,32099.0,30141.0

Mining & Extraction Jobs

In [ ]:
mining_jobs = employment_by_state.loc[employment_by_state["Description"] == "Mining, quarrying, and oil and gas extraction"]

display(mining_jobs)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
9,Alabama,"Mining, quarrying, and oil and gas extraction",Number of jobs,14008,13627,13043,12995,11458,10432,9642,9173,8740,8425,8825
42,Alaska,"Mining, quarrying, and oil and gas extraction",Number of jobs,21649,21158,21557,21128,18648,17184,15277,15309,13696,12785,13389
75,Arizona,"Mining, quarrying, and oil and gas extraction",Number of jobs,22555,23092,22309,22499,22710,21427,20056,19196,18521,18745,20295
108,Arkansas,"Mining, quarrying, and oil and gas extraction",Number of jobs,18605,18087,17112,16751,15755,13234,10588,9495,9308,9677,10065
141,California,"Mining, quarrying, and oil and gas extraction",Number of jobs,68881,69892,64367,63467,60358,49182,40811,37734,35530,35272,36926
174,Colorado,"Mining, quarrying, and oil and gas extraction",Number of jobs,60100,62774,64837,64020,60637,56042,50248,47574,41209,41271,43512
207,Connecticut,"Mining, quarrying, and oil and gas extraction",Number of jobs,3682,3598,3307,3696,3564,2818,2110,1898,(D),1871,(D)
240,Delaware,"Mining, quarrying, and oil and gas extraction",Number of jobs,(D),(D),(D),(D),(D),(D),(D),(D),278,295,314
273,Florida,"Mining, quarrying, and oil and gas extraction",Number of jobs,26299,27845,26561,27386,27438,23476,17851,15891,15928,16303,17175
306,Georgia,"Mining, quarrying, and oil and gas extraction",Number of jobs,10604,10831,10419,10513,10904,9811,8671,8246,8642,8925,9318
339,Hawaii,"Mining, quarrying, and oil and gas extraction",Number of jobs,1066,1025,958,1060,1011,802,655,572,664,655,701
372,Idaho,"Mining, quarrying, and oil and gas extraction",Number of jobs,6233,5381,5077,5333,5430,5105,4305,3989,4380,4652,4833
405,Illinois,"Mining, quarrying, and oil and gas extraction",Number of jobs,28728,29666,28757,28785,28135,23200,18894,17673,16247,16404,17205
438,Indiana,"Mining, quarrying, and oil and gas extraction",Number of jobs,13632,13845,13674,13542,12893,11325,9915,9189,(D),8384,(D)
471,Iowa,"Mining, quarrying, and oil and gas extraction",Number of jobs,5103,5244,4956,5102,4921,4322,3818,3572,3415,3413,3480
504,Kansas,"Mining, quarrying, and oil and gas extraction",Number of jobs,42405,46584,45536,46465,48562,40709,32028,29110,29255,31254,32913
537,Kentucky,"Mining, quarrying, and oil and gas extraction",Number of jobs,30396,27188,25497,23668,20657,18279,15981,15017,12196,12595,13356
570,Louisiana,"Mining, quarrying, and oil and gas extraction",Number of jobs,81931,83130,81495,76836,70578,61515,55167,52275,46106,46157,48761
603,Maine,"Mining, quarrying, and oil and gas extraction",Number of jobs,(D),1193,1038,1181,1227,1249,839,705,811,792,(D)
636,Maryland,"Mining, quarrying, and oil and gas extraction",Number of jobs,4987,5012,4513,4881,4721,4028,3070,2736,2757,2862,3029
669,Massachusetts,"Mining, quarrying, and oil and gas extraction",Number of jobs,(D),3594,3417,3814,3760,3281,2491,2270,2346,2326,2417
702,Michigan,"Mining, quarrying, and oil and gas extraction",Number of jobs,22191,22748,21280,21097,20671,16643,13285,12117,11569,11731,12549
735,Minnesota,"Mining, quarrying, and oil and gas extraction",Number of jobs,12137,11863,11565,11763,11066,10255,9209,8522,8372,8873,9018
768,Mississippi,"Mining, quarrying, and oil and gas extraction",Number of jobs,16334,17255,16703,16635,15988,12936,10628,9365,8675,8823,9364
801,Missouri,"Mining, quarrying, and oil and gas extraction",Number of jobs,9660,9829,9230,9564,9928,8809,7459,7012,7247,7592,7921
834,Montana,"Mining, quarrying, and oil and gas extraction",Number of jobs,14857,14759,14318,13667,12803,11924,10626,10133,9829,10032,10492
867,Nebraska,"Mining, quarrying, and oil and gas extraction",Number of jobs,3590,3666,3690,3672,3647,3191,2630,2396,2394,2503,2593
900,Nevada,"Mining, quarrying, and oil and gas extraction",Number of jobs,22126,21395,20074,19965,19757,19625,18353,17666,18358,18321,19165
933,New Hampshire,"Mining, quarrying, and oil and gas extraction",Number of jobs,1685,1577,1558,1592,1734,1526,1218,1101,1227,1210,1278
966,New Jersey,"Mining, quarrying, and oil and gas extraction",Number of jobs,4557,4551,4335,4334,4410,3823,3022,2782,2891,3027,3170
999,New Mexico,"Mining, quarrying, and oil and gas extraction",Number of jobs,34209,36852,38217,36663,31815,31207,31922,31997,26138,24990,28039
1032,New York,"Mining, quarrying, and oil and gas extraction",Number of jobs,17305,16621,15880,15952,16204,14129,11416,10009,10298,10391,10882
1065,North Carolina,"Mining, quarrying, and oil and gas extraction",Number of jobs,8961,8928,8346,8528,8898,7804,6746,6122,6314,6409,6714
1098,North Dakota,"Mining, quarrying, and oil and gas extraction",Number of jobs,30046,32682,36530,30296,23098,24268,25583,25687,19684,18837,21569
1131,Ohio,"Mining, quarrying, and oil and gas extraction",Number of jobs,34748,36103,36988,36755,35059,28835,24993,22384,20179,20324,21374
1164,Oklahoma,"Mining, quarrying, and oil and gas extraction",Number of jobs,131508,139587,138033,136052,133286,122687,108102,94430,76490,76372,81302
1197,Oregon,"Mining, quarrying, and oil and gas extraction",Number of jobs,6200,5776,5584,6099,6376,6026,4878,4378,4552,4557,4621
1230,Pennsylvania,"Mining, quarrying, and oil and gas extraction",Number of jobs,59413,58313,58882,56396,48346,47303,42680,40020,35486,34793,36139
1263,Rhode Island,"Mining, quarrying, and oil and gas extraction",Number of jobs,597,(D),(D),(D),(D),(D),(D),(D),(D),467,488
1296,South Carolina,"Mining, quarrying, and oil and gas extraction",Number of jobs,4297,4352,4225,4530,4917,5035,4107,3966,4141,3741,3942
1329,South Dakota,"Mining, quarrying, and oil and gas extraction",Number of jobs,2806,2929,2788,2868,2950,2658,2121,1982,2123,2226,2399
1362,Tennessee,"Mining, quarrying, and oil and gas extraction",Number of jobs,9623,9367,9332,9753,9608,8786,7429,6942,7039,7452,7963
1395,Texas,"Mining, quarrying, and oil and gas extraction",Number of jobs,502287,542289,552459,533359,490958,453270,416238,396066,338310,340076,369093
1428,Utah,"Mining, quarrying, and oil and gas extraction",Number of jobs,18893,18037,17697,16006,14399,13799,13135,12321,11906,12389,13730
1461,Vermont,"Mining, quarrying, and oil and gas extraction",Number of jobs,1492,1372,1271,1382,1391,1364,1185,994,1075,1408,1513
1494,Virginia,"Mining, quarrying, and oil and gas extraction",Number of jobs,16510,15403,14341,13757,12895,11582,10336,9490,8519,8794,9153
1527,Washington,"Mining, quarrying, and oil and gas extraction",Number of jobs,8895,8820,8489,9067,9533,8756,7038,6154,6134,6274,6348
1560,West Virginia,"Mining, quarrying, and oil and gas extraction",Number of jobs,47565,46369,43665,39750,33519,32446,29679,27577,23032,23544,24806
1593,Wisconsin,"Mining, quarrying, and oil and gas extraction",Number of jobs,7080,7147,7270,7372,7073,6980,6257,5426,(D),5064,(D)
1626,Wyoming,"Mining, quarrying, and oil and gas extraction",Number of jobs,35164,34108,34704,31532,26665,26566,25823,24853,20640,19302,20789

Agriculture Jobs

In [ ]:
agruculture_jobs = employment_by_state.loc[employment_by_state["Description"].isin(["Farm employment", "Forestry, fishing, and related activities", "Farm proprietors employment"])]

display(agruculture_jobs)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
3,Alabama,Farm proprietors employment,Number of jobs,38191,38337,37840,37080,37280,36186,35741,34553,34558,34134,33784
5,Alabama,Farm employment,Number of jobs,45540,46050,43295,44705,44493,44757,42992,40417,40984,40504,41204
8,Alabama,"Forestry, fishing, and related activities",Number of jobs,15780,16022,16540,16149,16109,15636,15928,16318,15976,15671,15615
36,Alaska,Farm proprietors employment,Number of jobs,645,688,726,776,822,866,877,903,908,908,865
38,Alaska,Farm employment,Number of jobs,1066,1114,1235,1241,1257,1531,1600,1431,1402,1505,1492
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589,Wisconsin,Farm employment,Number of jobs,84565,88586,86548,84137,83288,81254,84712,83720,81149,83541,85484
1592,Wisconsin,"Forestry, fishing, and related activities",Number of jobs,16200,16315,16883,16520,17009,16577,16886,16345,(D),16380,(D)
1620,Wyoming,Farm proprietors employment,Number of jobs,10249,10287,10560,10648,10709,10610,10600,10489,10550,10719,10455
1622,Wyoming,Farm employment,Number of jobs,13959,13970,14126,14470,14580,14941,14511,14577,14385,14149,14283
1625,Wyoming,"Forestry, fishing, and related activities",Number of jobs,2896,2933,3113,2908,3112,(D),3370,3279,(D),3400,3462

In [74]:
desired_years = "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"

for year in desired_years:
    agruculture_jobs[year] = pd.to_numeric(agruculture_jobs[year], errors='coerce')

desired_states = ["Alabama", "Alaska", "Arizona", "Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

all_agruculture_jobs = []

for state in desired_states:
        find_agruculture_job = agruculture_jobs.loc[agruculture_jobs["Location"] == state, desired_years].sum()
        all_agruculture_jobs.append(find_agruculture_job)

all_agruculture_jobs = pd.DataFrame(all_agruculture_jobs)
all_agruculture_jobs["State"] = desired_states

column_to_move = "State"
moved_column = all_agruculture_jobs.pop(column_to_move)
all_agruculture_jobs.insert(0,column_to_move, moved_column)
display(all_agruculture_jobs)

,State,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Alabama,99511.0,100409.0,97675.0,97934.0,97882.0,96579.0,94661.0,91288.0,91518.0,90309.0,90603.0
1,Alaska,13061.0,13844.0,14103.0,12209.0,12330.0,12397.0,12882.0,13437.0,2310.0,12710.0,12536.0
2,Arizona,65825.0,66454.0,65294.0,66701.0,67984.0,64774.0,65127.0,62933.0,62504.0,60729.0,59539.0
3,Arkansas,104781.0,107160.0,106558.0,106826.0,108894.0,105915.0,106027.0,108567.0,107141.0,105359.0,104431.0
4,California,509221.0,525716.0,542456.0,544281.0,543798.0,539986.0,547814.0,548987.0,533006.0,535290.0,543427.0
5,Colorado,88320.0,91136.0,91816.0,91855.0,94020.0,99144.0,98055.0,96217.0,97578.0,96492.0,98073.0
6,Connecticut,17575.0,18369.0,18356.0,18139.0,17717.0,17053.0,16897.0,16554.0,14272.0,16726.0,14674.0
7,Delaware,5697.0,5532.0,5663.0,5664.0,5942.0,5607.0,5301.0,5066.0,6055.0,6296.0,6202.0
8,Florida,184522.0,184694.0,190936.0,181671.0,178947.0,180134.0,180178.0,179000.0,180306.0,170950.0,170904.0
9,Georgia,111406.0,112005.0,113135.0,113009.0,117205.0,121606.0,112942.0,113260.0,116332.0,116591.0,117661.0
10,Hawaii,21397.0,21888.0,23371.0,22541.0,22190.0,21849.0,22406.0,20427.0,20061.0,17181.0,21558.0
11,Idaho,73384.0,73930.0,75889.0,75623.0,76025.0,79629.0,77726.0,77129.0,76206.0,74524.0,76258.0
12,Illinois,150953.0,149869.0,150556.0,150709.0,148703.0,146256.0,147092.0,141797.0,144105.0,144899.0,144063.0
13,Indiana,125192.0,124872.0,124445.0,121638.0,121616.0,122676.0,124240.0,119266.0,108570.0,117565.0,104902.0
14,Iowa,176188.0,180950.0,175582.0,177385.0,175984.0,172898.0,174567.0,172902.0,172693.0,173365.0,175316.0
15,Kansas,126306.0,125919.0,127467.0,126229.0,125002.0,122826.0,125474.0,123287.0,124321.0,126114.0,121951.0
16,Kentucky,166068.0,165654.0,167323.0,168906.0,165262.0,166009.0,165745.0,163070.0,162137.0,161725.0,162079.0
17,Louisiana,73695.0,73616.0,73843.0,75120.0,74502.0,74525.0,74623.0,72427.0,72870.0,73893.0,72696.0
18,Maine,18532.0,34374.0,34346.0,33355.0,33109.0,31913.0,32202.0,31563.0,31322.0,31331.0,31531.0
19,Maryland,33824.0,34075.0,34927.0,34362.0,36355.0,36992.0,35862.0,34902.0,33906.0,35275.0,34890.0
20,Massachusetts,17425.0,28014.0,27959.0,27963.0,27642.0,26904.0,26823.0,26405.0,26156.0,26221.0,26637.0
21,Michigan,127757.0,129165.0,129754.0,130145.0,127445.0,120613.0,122877.0,121706.0,118509.0,117851.0,118927.0
22,Minnesota,159739.0,157882.0,154873.0,155766.0,151884.0,148668.0,149278.0,150194.0,149552.0,150012.0,149766.0
23,Mississippi,87332.0,85701.0,90422.0,86822.0,85010.0,84656.0,84392.0,80869.0,81619.0,83101.0,81847.0
24,Missouri,202682.0,203278.0,199516.0,199707.0,199602.0,195293.0,197016.0,196332.0,197015.0,195100.0,194599.0
25,Montana,60483.0,61563.0,61268.0,61446.0,61492.0,61453.0,60741.0,59862.0,59986.0,59877.0,60814.0
26,Nebraska,106423.0,106896.0,106026.0,107354.0,105093.0,103724.0,105025.0,101338.0,101489.0,101821.0,100928.0
27,Nevada,10908.0,10896.0,10771.0,10496.0,10154.0,10241.0,10086.0,9807.0,9998.0,9942.0,10286.0
28,New Hampshire,12890.0,13128.0,13037.0,12878.0,12669.0,12077.0,12036.0,11750.0,11706.0,11702.0,11794.0
29,New Jersey,31613.0,31040.0,32708.0,32862.0,35487.0,34923.0,33395.0,32144.0,30752.0,32428.0,31947.0
30,New Mexico,54723.0,56194.0,55578.0,56101.0,57121.0,56329.0,56101.0,55188.0,55326.0,54629.0,53130.0
31,New York,97632.0,100963.0,100906.0,100082.0,97879.0,97980.0,97821.0,95818.0,95370.0,95757.0,97489.0
32,North Carolina,128833.0,132112.0,133436.0,133861.0,132401.0,128073.0,128320.0,130905.0,127009.0,127691.0,125685.0
33,North Dakota,64483.0,63903.0,62880.0,58985.0,57266.0,56834.0,56576.0,56151.0,57820.0,56921.0,57811.0
34,Ohio,169405.0,168337.0,166685.0,172960.0,177076.0,172829.0,175415.0,171919.0,169875.0,168254.0,167248.0
35,Oklahoma,165346.0,168119.0,166952.0,159457.0,162180.0,160217.0,159192.0,160549.0,163992.0,159855.0,166274.0
36,Oregon,126245.0,129419.0,130173.0,125895.0,127173.0,134165.0,137558.0,132819.0,129283.0,136765.0,124693.0
37,Pennsylvania,149963.0,148233.0,145089.0,143404.0,147438.0,142965.0,139558.0,134247.0,131400.0,135632.0,134460.0
38,Rhode Island,4396.0,2669.0,2583.0,2510.0,2456.0,2264.0,2358.0,2328.0,2313.0,4093.0,4183.0
39,South Carolina,61075.0,62142.0,59611.0,61311.0,62112.0,61893.0,61302.0,59419.0,59916.0,59716.0,60893.0
40,South Dakota,67443.0,67279.0,66821.0,64002.0,62844.0,63155.0,63027.0,62741.0,64421.0,63136.0,64403.0
41,Tennessee,145254.0,147417.0,149212.0,151410.0,149608.0,150803.0,152569.0,150219.0,149204.0,149363.0,150532.0
42,Texas,548374.0,560143.0,562417.0,558707.0,564824.0,561602.0,566990.0,553047.0,559927.0,557231.0,562643.0
43,Utah,39390.0,40591.0,40534.0,40442.0,40907.0,42051.0,41244.0,40022.0,40650.0,40519.0,41383.0
44,Vermont,19784.0,20213.0,20055.0,19879.0,19436.0,19188.0,19152.0,18809.0,19015.0,18897.0,19081.0
45,Virginia,103887.0,105887.0,108479.0,105124.0,103701.0,99961.0,100799.0,96829.0,95637.0,94480.0,95812.0
46,Washington,162291.0,160591.0,161219.0,158630.0,158612.0,158300.0,160355.0,167000.0,160758.0,162902.0,162444.0
47,West Virginia,44122.0,45365.0,46832.0,47275.0,47807.0,48239.0,48362.0,46856.0,46230.0,45464.0,45987.0
48,Wisconsin,164024.0,168274.0,165484.0,162159.0,160854.0,157288.0,161305.0,158864.0,139676.0,158155.0,143720.0
49,Wyoming,27104.0,27190.0,27799.0,28026.0,28401.0,25551.0,28481.0,28345.0,24935.0,28268.0,28200.0