In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
county_path = "../../Resources/personal_income_by_county.csv"
county_df = pd.read_csv(county_path, encoding="ISO-8859-1")

display(county_df)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"""00000""",United States,,CAINC1,1.0,...,Personal income (thousands of dollars),Thousands of dollars,791229000,855525000,...,14063283000,14778160000,15467113000,15884741000,16658962000,17514402000,18343601000,19609985000,21392812000,21820248000
1,"""00000""",United States,,CAINC1,2.0,...,Population (persons) 1/,Number of persons,201298000,203798722,...,316735375,319270047,321829327,324367742,326623063,328542157,330233102,331511512,332031554,333287557
2,"""00000""",United States,,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,...,44401,46287,48060,48971,51004,53309,55547,59153,64430,65470
3,"""01000""",Alabama,5,CAINC1,1.0,...,Personal income (thousands of dollars),Thousands of dollars,9737715,10628318,...,173720680,179487109,187474744,190871820,197963769,205674190,215165840,230872566,252791890,258362172
4,"""01000""",Alabama,5,CAINC1,2.0,...,Population (persons) 1/,Number of persons,3440000,3449846,...,4864399,4886793,4908162,4930595,4952202,4976395,5003418,5031362,5049846,5074296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9599,"""98000""",Far West,8,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,4570,4855,...,46861,49358,52277,54118,56427,59137,62203,67439,74015,74352
9600,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9601,CAINC1: County and MSA personal income summary...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9602,"Last updated: November 16, 2023-- new statisti...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9603,U.S. Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
county_df = county_df.dropna(how = 'any')

In [44]:
county_df = county_df[["GeoName", "Description", "Unit", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"]]
cleaned_county_df = county_df.rename(columns={"GeoName" : "Location"})
cleaned_county_df

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,United States,Personal income (thousands of dollars),Thousands of dollars,13905749000,14063283000,14778160000,15467113000,15884741000,16658962000,17514402000,18343601000,19609985000,21392812000,21820248000
1,United States,Population (persons) 1/,Number of persons,314344331,316735375,319270047,321829327,324367742,326623063,328542157,330233102,331511512,332031554,333287557
2,United States,Per capita personal income (dollars) 2/,Dollars,44237,44401,46287,48060,48971,51004,53309,55547,59153,64430,65470
3,Alabama,Personal income (thousands of dollars),Thousands of dollars,172101458,173720680,179487109,187474744,190871820,197963769,205674190,215165840,230872566,252791890,258362172
4,Alabama,Population (persons) 1/,Number of persons,4839261,4864399,4886793,4908162,4930595,4952202,4976395,5003418,5031362,5049846,5074296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9595,Rocky Mountain,Population (persons) 1/,Number of persons,11230078,11386485,11539776,11721767,11915924,12094213,12268132,12427477,12582532,12740434,12864007
9596,Rocky Mountain,Per capita personal income (dollars) 2/,Dollars,41403,42341,44714,46176,46483,48773,51651,54641,58260,64123,67169
9597,Far West,Personal income (thousands of dollars),Thousands of dollars,2501102067,2536151947,2697504923,2886096453,3016423051,3169740963,3339906496,3524619652,3828494482,4179488126,4193955215
9598,Far West,Population (persons) 1/,Number of persons,53650540,54120872,54651324,55207598,55738346,56174005,56477384,56663461,56770093,56467775,56406816
9599,Far West,Per capita personal income (dollars) 2/,Dollars,46618,46861,49358,52277,54118,56427,59137,62203,67439,74015,74352

In [48]:
income_df = cleaned_county_df.loc[cleaned_county_df["Unit"] == "Thousands of dollars"]
display(income_df)

,Location,Description,Unit,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,United States,Personal income (thousands of dollars),Thousands of dollars,13905749000,14063283000,14778160000,15467113000,15884741000,16658962000,17514402000,18343601000,19609985000,21392812000,21820248000
3,Alabama,Personal income (thousands of dollars),Thousands of dollars,172101458,173720680,179487109,187474744,190871820,197963769,205674190,215165840,230872566,252791890,258362172
6,"Autauga, AL",Personal income (thousands of dollars),Thousands of dollars,1953500,1966036,2036671,2145869,2222448,2290351,2371211,2478336,2659457,2896204,2951555
9,"Baldwin, AL",Personal income (thousands of dollars),Thousands of dollars,7314284,7534558,7949643,8504769,9032772,9583207,10139295,10879470,11947762,13371784,13984484
12,"Barbour, AL",Personal income (thousands of dollars),Thousands of dollars,758383,799040,796038,826252,813637,818509,842907,874243,926302,1001067,1002082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9585,Plains,Personal income (thousands of dollars),Thousands of dollars,920626244,929356015,966354183,997298288,1010851829,1043303132,1093520202,1133998940,1211726104,1318413111,1364311175
9588,Southeast,Personal income (thousands of dollars),Thousands of dollars,3151999853,3160319696,3326260902,3493964341,3598072267,3786490285,3978126720,4189538276,4480458274,4950934498,5102324248
9591,Southwest,Personal income (thousands of dollars),Thousands of dollars,1613805076,1656654447,1766252947,1800501270,1801518676,1919437059,2046252237,2154931947,2283556459,2528029851,2646114183
9594,Rocky Mountain,Personal income (thousands of dollars),Thousands of dollars,464962214,482115446,515987594,541260671,553886765,589876826,633665021,679051943,733061730,816958516,864062432
9597,Far West,Personal income (thousands of dollars),Thousands of dollars,2501102067,2536151947,2697504923,2886096453,3016423051,3169740963,3339906496,3524619652,3828494482,4179488126,4193955215

In [58]:
print("testing pt 3 is it working?")

testing pt 3 is it working?

In [57]:
print("testing pt 2")

testing pt 2

In [56]:
print("testing branch")

testing branch

In [55]:
income_df.value_counts()

Location                      Description                              Unit                  2012     2013     2014     2015     2016     2017     2018     2019     2020     2021     2022
Abbeville, SC                 Personal income (thousands of dollars)   Thousands of dollars  685414   697797   727385   758940   771921   797118   816148   849281   923239   975641   970343     1
Obion, TN                     Personal income (thousands of dollars)   Thousands of dollars  1080301  1090642  1083645  1090490  1092814  1127324  1171829  1234618  1352049  1491583  1488947    1
Northwest Arctic Borough, AK  Personal income (thousands of dollars)   Thousands of dollars  302673   296556   325408   326074   325806   337561   369048   372190   382656   392062   410390     1
Norton, KS                    Personal income (thousands of dollars)   Thousands of dollars  219794   255860   239215   212342   225087   219875   219344   223616   265234   284654   274763     1
Nottoway, VA                  Personal income (thousands of dollars)   Thousands of dollars  458618   448625   467142   489938   496141   508807   515855   537718   578696   662037   698804     1
                                                                                                                                                                                                 ..
Gooding, ID                   Personal income (thousands of dollars)   Thousands of dollars  698116   735971   858701   753987   763542   775603   800230   906610   983421   1000532  1146332    1
Gordon, GA                    Personal income (thousands of dollars)   Thousands of dollars  1566230  1650521  1726764  1818509  1847921  2035678  2003493  2079198  2212830  2503290  2640753    1
Goshen, WY                    Personal income (thousands of dollars)   Thousands of dollars  527985   528317   539468   554167   518463   532729   552439   554874   603895   636165   635997     1
Gosper, NE                    Personal income (thousands of dollars)   Thousands of dollars  103348   121585   106215   102761   88258    85528    91483    97490    109916   125275   119017     1
Ziebach, SD                   Personal income (thousands of dollars)   Thousands of dollars  51753    58903    71157    62174    54404    50058    55135    51913    67401    76662    80711      1
Name: count, Length: 3200, dtype: int64

In [53]:
income_by_state = income_df.loc[income_df["Location"] == 
["Alabama" | 
"Alaska"]]
#"Arizona",
#"Arkansas",
#"California",
#"Colorado",
#"Connecticut",
#"Delaware",
#"Florida",
#"Georgia",
#"Hawaii",
#"Idaho",
#"Illinois",
#"Indiana",
#"Iowa",
#"Kansas",
#"Kentucky",
#"Louisiana",
#"Maine",
#"Maryland",
#"Massachusetts",
#"Michigan",
#"Minnesota",
#"Mississippi",
#"Missouri",
#"Montana",
#"Nebraska",
#"Nevada",
#"New Hampshire",
#"New Jersey",
#"New Mexico",
#"New York",
#"North Carolina",
#"North Dakota",
#"Ohio",
#"Oklahoma",
#"Oregon",
#"Pennsylvania",
#"Rhode Island",
#"South Carolina",
#"South Dakota",
#"Tennessee",
#"Texas",
#"Utah",
#"Vermont",
#"Virginia",
#"Washington",
#"West Virginia",
#"Wisconsin",
#"Wyoming"]]

display(income_by_state)

TypeError: unsupported operand type(s) for |: 'str' and 'str'